[2020-09-03 09:13] cobolbaby commented on #1730
I really want to know the progress of this work, and I look forward to setting some tags on the dataset on the page.

[2020-09-03 10:08] lysimon commented on #1845
Hm, solved on my own.

The issue was coming from the field section that need to be extracted on top of it:
- You need to provide both the schema and the list of fields in order for the frontend to work correctly.

[2020-09-03 10:08] #1845 closed

[2020-09-03 11:10] mars-lan commented on #1847
Could you check the DB to see if they're stored as upper or lower cases? While DB itself is configured to be case insensitive, it should preserve the original case when MCEs are fired.

[2020-09-03 11:43] mars-lan commented on #1846
Please see https://github.com/linkedin/datahub/blob/4060960a15930ac7ef4847cf00e939e1ccedec4f/docs/what/entity.md#how-to-delete-an-entity

tl;dr you can only soft-delete. To perform hard-delete, you'll need to remove stuff from the DB directly and rebuild your indexes.

[2020-09-03 13:59] cobolbaby commented on #1846
Could you describe how to apply it through a case.

[2020-09-03 14:44] cobolbaby commented on #1847
![2020-09-03 22-41-03屏幕截图](https://user-images.githubusercontent.com/11460848/92129814-95f92800-ee36-11ea-973f-be2190a2afa4.png)

The data stored in the database is uppercase, and the data returned by the front-end interface has been converted to lowercase. It is not sure whether it is a problem processed by the gms service or the mid layer.

[2020-09-03 15:08] fabiofilz opened #1849 "Support SSL to mce_cli.py"
We are executing the step on https://github.com/linkedin/datahub/tree/master/metadata-ingestion, but the mce_cli.py (and other python apps) don't support SSL connection to Kafka.

A suggestion would be to use the same as kafka-topic.sh does:

kafka-topics --command-config kafka.config

Ex. kafka.config
ssl.truststore.location=./resources/keys/pt/pt.d2.aws.truststore.jks
ssl.truststore.password=XXX

[2020-09-03 16:01] mars-lan commented on #1849
Makes sense. Would you be interested in creating a PR for this, @fabiofilz?

[2020-09-03 16:21] cobolbaby commented on #1846
Great, I understand.

[2020-09-03 16:21] #1846 closed

[2020-09-03 19:14] jplaisted commented on #1849
fyi this is moving to contrib soon anyway. I'll be sure to keep this in mind for the Java port :)

[2020-09-03 19:20] jplaisted commented on #1840
It is parity with [what we have today](https://github.com/linkedin/datahub/blob/779eaeed70aa8c60d04b5cc52231e2af62c39f35/metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/Topics.java#L4) (the topic is hardcoded to `MetadataChangeEvent_v4` today).

Historically, before we open source, there was `MetadataChangeEvent` and `MetadataChangeEvent_v2` (v3 never shipped and immediately turned

[2020-09-03 19:29] jplaisted commented on #1840
Actually, I think that may not scale well. It may be better for you just to write your own implementation and factories?

When we go to "v5", every aspect will have its own event. You probably don't want to explicitly list them all out, but instead have some java to build it, given the aspect?

[2020-09-03 21:22] jplaisted commented on #1848
Actually, this is the full list of possible values:

[code]

This is a problem with enums in general. They don't expand well to open source.

@mars-lan thoughts on how to resolve this? Both for the existing enums and going forward.

I feel like, going forward, perhaps we should ban enums in new models? Enforce the fields to be strings. Then, the would-be-enum-values can be constants in a Java util

[2020-09-04 03:43] cobolbaby commented on #1823
The latest code commit did not fix the problem.

[2020-09-04 03:47] cobolbaby commented on #1824
![2020-09-04 11-45-54屏幕截图](https://user-images.githubusercontent.com/11460848/92197401-33d70c00-eea4-11ea-9740-59ba55362766.png)
The latest commit fixes the previous one but introduces new bugfix.

[2020-09-04 06:12] q2515045 opened #1852 "Datasets rights management"
**Is your feature request related to a problem? Please describe.**
I don't want to see all datasets being used by everyone

**Describe the solution you'd like**
Can you add features so that everyone can only see their own datasets

[2020-09-04 07:36] cobolbaby opened #1853 "How to extend the data model on Neo4j"
Currently I want to extend a z-index field to the neo4j model, which is mainly used to identify the business level of the dataset in the data warehouse, and to draw a complete data map later.

I wonder to know how to customize it.

[2020-09-04 07:52] cobolbaby opened #1854 "The purpose of the url attribute in DatasetProperties model"
Ref: https://github.com/linkedin/datahub/blob/master/metadata-models/src/main/pegasus/com/linkedin/dataset/DatasetProperties.pdl#L18

In order to realize a specific business, it is inevitable that you need to view the real data, so the data preview function will definitely be involved.

I wonder if the url attribute of the dataset refers to the data preview address? And what is this field generall

[2020-09-04 08:20] SheetalPratik09 commented on #1829
So this is fixed and we need to merge the code?

[2020-09-04 08:48] rakreek opened #1855 "Custom favicon and title?"
Hi all! If I'm trying to just use the latest docker image and not rebuild the project from scratch, is there a straightforward way to customize the [title in index.html](https://github.com/linkedin/datahub/blob/master/datahub-web/packages/data-portal/app/index.html) and [favicon](https://github.com/linkedin/datahub/tree/master/datahub-web/packages/data-portal/public/assets) for my own organization

[2020-09-04 10:04] mars-lan commented on #1853
Hopefully it's covered by https://github.com/linkedin/datahub/blob/master/docs/how/graph-onboarding.md. Let us know if there's any gap in the documentation.

[2020-09-04 10:15] mars-lan commented on #1855
Unfortunately they're not currently settable via docker. You'll need to rebuild the image after swapping out the files. That said, we should at the minimal change the favicon from a LinkedIn logo to a DataHub logo.

[2020-09-04 12:09] mars-lan commented on #1848
I think "data origin" isn't the correct choice here in the first place. @cobolbaby when you say "identify the database instance", do you mean "different database hosts with different tables", or "different database hosts with same tables via replication"?

[2020-09-04 12:12] mars-lan commented on #1759
@fabiofilz did you get to the bottom of this? Other users have reported similar issue to then discover that the incorrect credential was supplied. Could you verify if that's the case for you as well?

[2020-09-04 13:56] cobolbaby commented on #1848
In my opinion, `originEntity` means the db host that may contain some `platformEntity`.

[2020-09-04 15:03] fabiofilz commented on #1849
Hi @mars-lan,

Please find the PR with SSL feature.

Thank you.
Fabio

[2020-09-04 17:29] rakreek commented on #1855
Yeah, imho swapping in the Data Hub logo for the LinkedIn logo would get us 90% of the way there. Thanks again!

[2020-09-04 17:44] rakreek commented on #1855
Stop me if this is scope creep, but would you also consider swapping in datahub branding in the [navbar](https://github.com/linkedin/datahub/blob/c2c6f66ca8a21f1e50c00160340c69c951784fd8/datahub-web/packages/data-portal/app/templates/components/navbar.hbs#L22)?

[2020-09-04 19:17] #1849 closed

[2020-09-04 19:19] mars-lan commented on #1855
That's a fair ask. Will have @cptran777 look into both.

[2020-09-05 02:05] zzmbulldog opened #1858 "Ingest metadata from MySQL to DataHub"
hi，why the terminal show these after I input **'python mysql_etl.py'**. And Kafka no topic
![image](https://user-images.githubusercontent.com/40566786/92294499-41050100-ef5f-11ea-89e8-c9348aacdc3e.png)

[2020-09-05 02:28] mars-lan commented on #1854
The field is actually URI (a broader definition than URL) and is not currently being used in the UI. You're free to utilize the field for your own need, e.g. connection string for data access.

[2020-09-05 11:28] mars-lan commented on #1848
@cobolbaby please help us understand your use case better so we can make the correct recommendation here

[2020-09-05 11:37] mars-lan commented on #1847
Found the culprit: https://github.com/linkedin/datahub/blob/master/metadata-builders/src/main/java/com/linkedin/metadata/builders/search/DatasetIndexBuilder.java#L32

[2020-09-06 10:52] cobolbaby commented on #1853
After reading the relevant docs, I found that I only need to extend datasetUrn to meet biz needs.

What else needs to be done besides modifying [DatasetUrn.pdl](https://github.com/linkedin/datahub/blob/2bd44d4243/li-utils/src/main/pegasus/com/linkedin/common/DatasetUrn.pdl) ?

[2020-09-06 10:57] cobolbaby commented on #1854
Oh I see.

[2020-09-06 10:57] #1854 closed

[2020-09-06 10:59] mars-lan commented on #1853
I'm actually curious what sort of extension are you talking about in regards to DatasetUrn? I'd imagine adding a "z-index" field to existing/new dataset aspect seems more appropriate to me?

[2020-09-06 12:42] mars-lan commented on #1858
Thanks for reporting. Could you include the precise command you ran and the full output (as an attachment if it's too long) so we can better debug the issue? Note that there is also a generic RDMBS crawler that you could use: https://github.com/linkedin/datahub/tree/master/metadata-ingestion/sql-etl

[2020-09-07 01:38] cobolbaby commented on #1853
My idea is to extend the properties of the existing DatasetUrn, and then set the properties in the implementation of DatasetGraphBuilder. Is there a problem with my understanding? Of course I can also call the method of the `DatasetSnapshot` class.

[2020-09-07 02:44] cobolbaby commented on #1848
Data sets often contain some attributes used to indicate the source of the data:

- db host --  Which IP the specific data comes from
- db instance -- Multiple business databases may be stored under one instance
- table schema -- The logical location of a table in a database, such as `schema` in PG
- table -- The table name also contains some prefix information to indicate the level in data wareho

[2020-09-07 02:55] cobolbaby commented on #1847
First of all, it should be clear that the problem is caused by improper data import. When I encounter this problem, I will first think about correcting the back-end data, rather than making compatibility programmatically. Of course it would be better if the program can maintain compatibility.

Is there no solution to the problem now? I think data consistency should be guaranteed.

[2020-09-07 11:35] mars-lan commented on #1848
I believe this is somewhat related to https://github.com/linkedin/datahub/issues/1853#issuecomment-687970028?

Each part of the Dataset URN (or any other [URNs](https://github.com/linkedin/datahub/blob/master/docs/what/urn.md) for that matter) has a specific use,

- platform: type of data platform, e.g. mysql, hive, bigquery, etc, as listed [here](https://github.com/linkedin/datahub/blob/master/gm

[2020-09-07 11:36] mars-lan commented on #1853
See my comments in https://github.com/linkedin/datahub/issues/1848. You really shouldn't be messing with the URN structure.

[2020-09-07 11:42] mars-lan commented on #1847
Agree. The cleanest way is to make sure that the dataset name is case sensitive throughout the system. This is a potentially breaking change so we'd like to consider the implication a little bit more before jumping in.

[2020-09-07 11:44] mars-lan commented on #1847
Assigning to @nagarjunakanamarlapudi to perform the investigation internally.

[2020-09-07 14:54] cobolbaby commented on #1848
Thank you for your suggestion. I will make some adjustments based on this standard.

Close the issue for now. I will always pay attention to the progress of the `DatasetInstance`.

[2020-09-07 14:54] #1848 closed

[2020-09-07 14:57] cobolbaby commented on #1853
Ok, I know. I will try to see which methods are provided by the current DatasetSnapshot class.

[2020-09-07 15:02] cobolbaby commented on #1847
Understood. Thank you for your efforts.

[2020-09-07 20:19] jplaisted commented on #1852
We have that already! You have a profile page, and under that is "Datasets I own".

![Screen Shot 2020-09-07 at 1 16 39 PM](https://user-images.githubusercontent.com/1565017/92415142-68e59780-f10c-11ea-9797-3ca3efe53954.png)

![Screen Shot 2020-09-07 at 1 17 52 PM](https://user-images.githubusercontent.com/1565017/92415159-8ca8dd80-f10c-11ea-964e-210167614dd4.png)

Any suggestions as to how to mak

[2020-09-07 20:49] camelliazhang commented on #1852
@jplaisted I think @q2515045 is probably referring to data privacy? If that's the case, we have access control for datasets.

[2020-09-07 22:34] mars-lan commented on #1852
Will let @q2515045 clarify what he/she means exactly. As far as I can see there are 3 possibilities

1. I want to see only datasets I own
2. I want to see only datasets I have access to
3. I should be allowed to see only a subset of all datasets that I own/have access to

[2020-09-08 09:56] moodleexpert opened #1860 "http://IpAddress/api/v2/entity-configs/urn:li:dataset:(urn:li:dataPlatform:mysql,xyz_db.events,PROD)?target=appworx-deprecation gives 404"
I have ingested metadata from Mysql TO Datahub. I can see my data set in datahub UI with all the databases and tables. When I click to the table it gives "We could not find a schema for this dataset".  I have also checked the debug console found that this URL "http://IpAddress/api/v2/entity-configs/urn:li:dataset:(urn:li:dataPlatform:mysql,xyz_db.events,PROD)?target=appworx-deprecation" is giving

[2020-09-08 10:25] themightylaz opened #1861 "Need advice for getting Datahub to connect to Kafka Schema Registry using SSL"
Hi,

Need some advice, getting crazy here.

I am already having the following env variable set in pods (cut from kubectl describe pod...):

      KAFKA_BOOTSTRAP_SERVER:                                           kafka.confluent.svc.cluster.local:9092
      KAFKA_SCHEMAREGISTRY_URL:                                         https://schemaregistry.confluent.svc.cluster.local:8443
      GMS_HOST:

[2020-09-08 11:25] mars-lan commented on #1861
Is this a self-signed certificate? If so you'll need to configure the broker to trust the CA. See https://docs.confluent.io/2.0.0/kafka/ssl.html & https://medium.com/jinternals/kafka-ssl-setup-with-self-signed-certificate-part-1-c2679a57e16c for more details.

[2020-09-08 13:29] aivarssilins commented on #1861
Hi. I work with Lars. Yes, self-signed certificate and broker trust it, so do other confluent components in the ecosystem. Error to me seems like occur when connecting to Schema Registry, SR client (JVM) does not trust CA.

[2020-09-08 14:35] mars-lan commented on #1861
Yeah that makes sense. Is this the confluent schema registry? I assume you've read through https://docs.confluent.io/current/schema-registry/security/index.html? Do you suspect that the SSL config isn't passed to the SR client correctly?

[2020-09-08 15:16] aivarssilins commented on #1861
Could be the case, have not seen detailed debug logs. We used older version of the client in our springboot components, like 5.3.1 (we have 5.3.1 platform, however in the process to upgrade to 5.5.1), and documentation just mentions to create JAVA_OPTS, SCHEMA_REGISTRY_OPTS and KAFKA_OPTS. We instead just added javax.net.ssl.<key|truststore>.<location|password> as system parameters during bootstra

[2020-09-08 15:54] themightylaz commented on #1861
Nope, schema.registry.ssl.* isn't applied:
- 'schema.registry.ssl.keystore.password' was supplied but isn't a known config.
- 'schema.registry.ssl.truststore.location' was supplied but isn't a known config.
- 'schema.registry.ssl.keystore.location' was supplied but isn't a known config.
- 'schema.registry.ssl.key.password' was supplied but isn't a known config.
- 'schema.registry.ssl.truststore.pa

[2020-09-08 15:55] themightylaz commented on #1861
[kindred-datahub-datahub-mce-consumer-5667948d7c-qwcnt.txt](https://github.com/linkedin/datahub/files/5189422/kindred-datahub-datahub-mce-consumer-5667948d7c-qwcnt.txt)

[2020-09-08 17:07] jplaisted commented on #1759
+1, I believe this is an invalid credentials issue. I helped someone on slack debug this last week.

[2020-09-08 17:11] jplaisted commented on #1860
@cptran777 is this a recent issue from our frontend upgrades?

[2020-09-08 17:18] jplaisted commented on #1861
Maybe these params aren't supported by spring? Try setting them another way maybe?

https://docs.confluent.io/current/schema-registry/security/index.html

[code]

Note: `JAVA_OPTS` is probably the wrong thing to use here, but seems like there are other env vars to explore.

[2020-09-08 23:27] mars-lan commented on #1861
Might be related to https://datahubspace.slack.com/archives/CV2KB471C/p1599256394035400?

[2020-09-09 05:53] moodleexpert commented on #1860
I am not aware of it. I have just installed it in docker and use the sql-etl and mysql-etl

[2020-09-09 14:09] mars-lan commented on #1860
The 404 is unrelated. It's an internal API that @cptran777 will clean up in the next push.

Which ETL script did you use for ingestion?

[2020-09-09 14:11] mars-lan commented on #1853
@cobolbaby can we close this now?

[2020-09-09 14:16] cobolbaby commented on #1853
Yes.

[2020-09-09 14:16] #1853 closed

[2020-09-09 14:30] themightylaz commented on #1861
I think it is related to https://datahubspace.slack.com/archives/CV2KB471C/p1599256394035400, yes. Will the soon-coming PR use fresh version of kafka-avro-serializer that has support for schema registry SSL?

[2020-09-09 14:38] grantatspothero commented on #1861
Yes, this is probably the same issue, all the schema registry configuration was being ignored due to the old client library.

I will open a PR today

[2020-09-09 15:33] moodleexpert commented on #1860
I have used the mysql script from [metadata-ingestion] (https://github.com/linkedin/datahub/tree/master/metadata-ingestion)  and ingested the metadata. Which was successful insertion , but when i try to view schema in Ui on datahub. I was unable see it only table names are getting display

[2020-09-09 16:03] mars-lan commented on #1860
Got it. Could you give this one a try and see if it makes a difference? https://github.com/linkedin/datahub/tree/master/metadata-ingestion/sql-etl

[2020-09-09 17:20] moodleexpert commented on #1860
Below API is getting called but schema is not getting displayed,
http://IpAddress/api/v2/datasets/urn:li:dataset:(urn:li:dataPlatform:mysql,xyz_db.events,PROD)/schema

response:

{"schema":{"schemaless":false,"rawSchema":"","keySchema":null,"columns":[{"id":null,"sortID":0,"parentSortID":0,"fieldName":"id","parentPath":null,"fullFieldPath":"id","dataType":"INTEGER(display_width=11)","comment":"","

[2020-09-09 17:35] moodleexpert commented on #1860
i have used both mysql-etl and sql-etl no difference

[2020-09-09 17:43] moodleexpert commented on #1860
![Screenshot from 2020-09-09 22-45-40](https://user-images.githubusercontent.com/1505830/92634476-fcc48880-f2f1-11ea-921a-9689759fa2f7.jpg)
for your reference

[2020-09-09 17:47] moodleexpert commented on #1860
![Screenshot from 2020-09-09 23-16-20](https://user-images.githubusercontent.com/1505830/92634890-955b0880-f2f2-11ea-8acd-7582888e6876.jpg)

[2020-09-09 21:38] mars-lan commented on #1861
Please check and reopen this issue if https://github.com/linkedin/datahub/pull/1863 doesn't fix it.

[2020-09-10 09:30] themightylaz commented on #1861
Hi @mars-lan, I'd like to reopen then, because #1863 didn't fix schema registry ssl config (ignoring schema registry ssl config). As @grantatspothero pointed out in #1863 while this change fixes the issue with basic auth we may need a higher version of the schema registry client to get SSL support for the schema registry client.

https://docs.confluent.io/current/schema-registry/changelog.html#ver

[2020-09-10 11:28] mars-lan commented on #1860
@cptran777 sounds like a regression in the latest UI?

[2020-09-10 16:10] liangjun-jiang commented on #1809
Probably distributed tracer would be a feature leaving for this project's adapters to implement in their production environment. It is out of the scope of this project anyways.

[2020-09-10 16:10] #1809 closed

[2020-09-10 23:00] jplaisted opened #1865 "mce_cli produce throws an error"
From https://github.com/linkedin/datahub/pull/1864#issuecomment-690769170

[2020-09-10 23:01] jplaisted opened #1866 "Clicking on dataset owner links to LI internal user site"
- Launch DataHub via quickstart
- Browse to a dataset with owners
- Click an owner icon

Expected behavior:
Should link to the user's page on DataHub.

Actual behavior:
Opens a link in a new tab for the user's cinco page.

[2020-09-10 23:03] jplaisted opened #1867 "Ownership on ES not working via mce_cli"
May not be MCE CLI specific. It is just the flow I am testing with. See https://github.com/linkedin/datahub/pull/1864#issuecomment-690769170

[2020-09-10 23:09] jplaisted commented on #1867
Seems like somewhere along the lines `CorpUserUrn#ENTITY_TYPE` drifted from the data in `bootstrap_mce.dat`. `corpuser` vs `corpUser`. As a result `BuilderUtils#getCorpUserOwners` erturns an empty set of owners.

[2020-09-10 23:11] jplaisted commented on #1867
It was 7d6fde4f37d507f6c7c4cf4370f935fb31ee6dcb. Issue with the test data, not with the code :)

[2020-09-10 23:14] jplaisted commented on #1867
@mars-lan is there a reason I'm not seeing for changing the case? If not, then this is an easy fix.

[2020-09-11 00:04] mars-lan commented on #1867
Nope. Was trying to be consistent.

[2020-09-11 02:30] #1865 closed

[2020-09-11 02:30] #1867 closed

[2020-09-13 20:47] mars-lan commented on #1861
@themightylaz do you mind to create a PR for this as neither I or @grantatspothero have a SSL-enabled schema registry at our fingertips to test this.

[2020-09-14 12:46] themightylaz commented on #1861
Hi @mars-lan , app is now building fine with avro serde bumped up to 5.5.1. Now will test and then create PR

[2020-09-14 13:50] mars-lan commented on #1861
Note that the build is currently broken at HEAD and will be fixed by https://github.com/linkedin/datahub/pull/1872

[2020-09-14 15:38] emailstonl commented on #1861
about themightylaz question on certificate - how did you check if ssl certificate is imported in pod's jvm? sslpoke or printing cert from cacerts. May be importing certificate of https schemaregistry step is missed.

about broken build, I continued by commenting compile dependencies-
comment  below compile dependency in datahub/metadata-ingestion-examples/common/build.gradle and datahub/metadata-i

[2020-09-14 17:17] mars-lan commented on #1861
https://github.com/linkedin/datahub/pull/1872 has been merged. A rebase should fix the build error.

[2020-09-15 00:56] cptran777 commented on #1824
Hey @cobolbaby,

I think this issue is related to: https://github.com/linkedin/datahub/issues/1827. Since the social function issue has been fixed and the other issue is being tracked, I'll close this issue so that we have a cleaner workflow for tracking issues.

[2020-09-15 00:56] #1824 closed

[2020-09-15 01:12] cptran777 commented on #1860
@moodleexpert the main issue here is that if rawSchema is empty then the schema is presumed to not exist in the current FE logic. I think based on discussions with the community that this logic works for our internal team but seems to have some issues with other use cases at large. I have it queued up to work on a fix for this as well as a few other issues, but a workaround for now would be to mak

[2020-09-15 01:12] cptran777 commented on #1860
Also the appworx-deprecation 404 is unrelated, but will also be removed as it is internal configuration logic that got leaked into open source

[2020-09-15 02:14] cptran777 commented on #1827
Hey @cobolbaby, could you pull down the latest changes from https://github.com/linkedin/datahub/pull/1874 and confirm if the issue is fixed for you?

[2020-09-15 03:00] cptran777 commented on #1866
Can you check again? Just tried to recreate the issue and it looks like it leads to the user's profile page.

[2020-09-15 03:02] cptran777 commented on #1855
We're required to use the LinkedIn logo for our internal application. Should be relatively straightforward to build with a new image just for open source, just need to add in a little config modification so that we don't create a constant conflict with using our pipeline to push our new open source code.

[2020-09-15 03:11] cptran777 commented on #1823
This may be fixed by the linked PR (or at least I suspect so). Could you please check and, if not fixed, let us know and provide an example search response you're working with to better debug?

[2020-09-15 03:21] frsann commented on #1827
I had similar problems (in addition the graph visualisation wouldn't render correctly) with the quickstart example + dummy data. I can confirm that this change fixes those issue ✅

[2020-09-15 07:33] moodleexpert commented on #1860
@cptran777 Thank for the update...i will add rawSchema and check it again

[2020-09-15 10:48] cobolbaby commented on #1827
Confirmed.

[2020-09-15 10:48] #1827 closed

[2020-09-15 10:49] cobolbaby commented on #1823
Confirmed.

[2020-09-15 10:49] #1823 closed

[2020-09-15 17:27] cptran777 commented on #1723
@cobolbaby The latest master branch should have fixed this. (Verified with ./docker/quickstart.sh)

[2020-09-15 20:41] andrewkantor opened #1875 "Inclusive language"
Can you address a couple of instances of language in the project where the wording can be made more inclusive? (example: whiltelist -> allowlist). We are trying to make the code in all LinkedIn projects more inclusive. Could you please examine whether or not these need to be updated, and make the changes? For suggested replacements see go/inclusivelanguage or google. THANK YOU!

Term | URL
-- | --

[2020-09-15 21:49] mars-lan commented on #1875
Thank you for pointing these out, @andrewkantor. We too are working on a similar initiative internally at LinkedIn. Will try to prioritize these fixes.

[2020-09-16 02:59] cobolbaby commented on #1723
Confirmed.

[2020-09-16 02:59] #1723 closed

[2020-09-16 07:34] G-nther opened #1876 "Ownership assignment not working correctly in the new frontend"
**Describe the bug**
On a dataset with less than two owners an error message is shown beside the save button to assign at least two owners. When I add two users ar owners this message is still there and the Save-Button is still not enabled. When adding more than two owners the button is also still not enabled.

When I delete owners from a dataset until thereis one owner left and the error message

[2020-09-16 16:21] RyanHolstien opened #1877 "ML Model Backend Implementation"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution you'd like**
This feature will include the implementation for ML Models including resources, search document & builders for ElasticSearch, graph builders for Neo4J, and other necessary additions to fully enable ML Models.

**Describe alternatives you've considered**
N/A

**Additional context**
This is a

[2020-09-16 16:22] RyanHolstien commented on #1877
Created this as a placeholder so others don't take up the work, I don't have the ability to assign it to myself.

[2020-09-16 16:24] jywadhwani commented on #1877
Thanks @RyanHolstien for taking this up. Looking forward to your work on this.

[2020-09-16 16:28] RyanHolstien commented on #1877
Thanks Jyoti!

[2020-09-17 05:47] cobolbaby opened #1878 "Dashboard aspect ingestion demo"
The dashboard aspect has recently been added. Does the GMS service provide relevant interface support?

Could provide some examples or test case?

[2020-09-17 06:41] jplaisted commented on #1878
I think this is actually a question on the status of dashboards. I don't think they're done :) I'll let @keremsahin1 answer fully, but I believe the current state is that we have the models, but need to do backend (GMS) and frontend work still. I think @keremsahin1 is getting the backend work done before the end of the month; frontend may be awhile.

So there's no way to ingest yet. It isn't done

[2020-09-17 08:07] yjbupt opened #1879 "datahub quickstart:ERROR: for kafka-topics-ui failed to register layer"
when i run the command quickstart.sh,this issue happened.
[root@master datahub]# ./docker/quickstart.sh
Pulling mysql                ... done
Pulling elasticsearch        ... done
Pulling neo4j                ... done
Pulling elasticsearch-setup  ... done
Pulling kibana               ... done
Pulling zookeeper            ... done
Pulling broker               ... done
Pulling schema-registry      .

[2020-09-17 11:05] mars-lan commented on #1879
Looks like a docker issue. Could you try to [start from a clean slate](https://github.com/linkedin/datahub/blob/master/docs/debugging.md#ive-messed-up-my-docker-setup-how-do-i-start-from-scratch) and see if the problem still persists?

[2020-09-17 11:05] mars-lan commented on #1861
@themightylaz any luck with that PR?

[2020-09-17 15:14] themightylaz commented on #1861
Hi @mars-lan, had to put this on-hold, since I had more urgent stuff to continue with, sorry for that. But a colleague to me, Mayank, picked it up and will try the following:

1. - COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose -p datahub build
2. - push to dockerhub
3. - deploy them to our k8s cluster
4. - verifiy gms, mae and mce now connects to the schema registry with ssl

[2020-09-17 16:01] hgcummings commented on #1876
I've also observed this issue. I traced it as far as the owners being unconfirmed (and therefore treated as invalid).

Manually added owners are supposed to be confirmed automatically inside the addOwner method of the dataset-authors component: https://github.com/linkedin/datahub/blob/c07a3a9b8f450783a8219411227202875fb652a3/datahub-web/packages/data-portal/app/components/dataset-authors.ts#L266

[2020-09-17 18:41] cptran777 commented on #1876
Hey debugged it further, there was a workaround we had put in for getting the logged in user's "entity" as it was different than what we have internally. Have a solution in mind while we work on a better overall fix.

[2020-09-17 19:00] cptran777 commented on #1876
Fix is available here: https://github.com/linkedin/datahub/pull/1880

[2020-09-18 02:37] yjbupt commented on #1879
It seems to be due to the lack of storage space in the Docker,  I switched machines and this problem is solved。

[2020-09-18 02:37] #1879 closed

[2020-09-18 11:13] mars-lan commented on #1876
@G-nther & @hgcummings could you verify if the issue has been fixed at HEAD?

[2020-09-18 11:41] mars-lan commented on #1879
Thanks for letting us know. Updated the [debugging guide](https://github.com/linkedin/datahub/blob/master/docs/debugging.md) accordingly.

[2020-09-18 11:52] #1876 closed

[2020-09-18 14:26] cptran777 commented on #1876
Hey @G-nther, @hgcummings , thanks for your help with reporting and looking into this issue. The fix is in, so let me know if there's still any issue on your end. Thanks again!

[2020-09-18 19:31] mars-lan commented on #1861
@themightylaz the testing plan SGTM. Feel free have Mayank submit the PR after the testing.

[2020-09-19 22:58] cptran777 commented on #1875
Thanks for the callout @andrewkantor , we have this as a task to address internally (which would then rollout to open source as well) but haven't allocated time towards this task. Having it be called out gives a good push to prioritize more inclusive wording.

[2020-09-21 08:25] themightylaz commented on #1861
Hi, I did the following:
1. change kafkaAvroSerde to version io.confluent:kafka-streams-avro-serde:5.5.1
2. rebuilt app
3. ran COMPOSE_DOCKER_CLI_BUILD=1 DOCKER_BUILDKIT=1 docker-compose -p datahub build
4. pushed to dockerhub
5. deployed to our EKS cluster

When pods restarts I can still see the following in the logs:
The configuration ‘schema.registry.ssl.keystore.password’ was supplied but isn’

[2020-09-21 11:23] mars-lan commented on #1861
Maybe the prefix should be `kafkastore` instead of `schema.registry`? https://docs.confluent.io/current/kafka/encryption.html#encryption-ssl-schema-registry

[2020-09-22 08:02] emailstonl commented on #1518
one option can be as below
1. Authenticate and write cookie in text file
2. use cookie from file to call api.

user@machine:~/git/datahub/docker$ curl -i -c cookie1.txt -d '{"username":"datahub", "password":"datahub"}' -H 'Content-Type: application/json' http://localhost:9001/authenticate
HTTP/1.1 200 OK
Set-Cookie: PLAY_SESSION=50dd1d9ea331dad76338731f6dd3bac7a12a58f7-auth_token=ZGF0YWh1YjoxNjAwN

[2020-09-22 08:59] themightylaz commented on #1861
`kindred-datahub-datahub-gms-79b6587bb-t62vj datahub-gms 08:49:56.302 [main] WARN  o.a.k.c.producer.ProducerConfig - The configuration 'kafkastore.ssl.truststore.password' was supplied but isn't a known config.
kindred-datahub-datahub-gms-79b6587bb-t62vj datahub-gms 08:49:56.302 [main] WARN  o.a.k.c.producer.ProducerConfig - The configuration 'kafkastore.ssl.truststore.password' was supplied but i

[2020-09-22 10:03] nagarjunakanamarlapudi opened #1887 "Soft deletion of aspect"
Toady we support soft deletion of entities using aspects like Status.

WDYT on soft deletion of aspect ?

Say, today I fill up aspect `DatasetProperties` for one dataset `D1`. And, tomorrow I want to remove aspect `DatasetProperties` for dataset `D1` ( in other words, this aspect is no more valid for `D1`)

How do we model this?

[2020-09-22 10:49] mars-lan commented on #1887
My original thought is to have the aspect owner add custom fields (say `removed`) in their aspects and self interpret it. However, I do see value having a consistent way to represent this. One method I can think of is to use a sentinel value (e.g. empty JSON `{}`) to represent deleted aspect. This should be fairly easy to implement such logic in LocalDAO but may require storage-system-specific log

[2020-09-22 11:10] mars-lan commented on #1518
@emailstonl thanks for sharing the snippet. @igbopie could you help update the frontend doc with this info?

[2020-09-22 11:30] mars-lan commented on #1887
Another RFC? :P

[2020-09-22 14:47] liangjun-jiang opened #1888 "Generate documentation for Entity and API endpoints"
Is anyway to generate documentation for entities, its aspects, aspect fields and API documentations? the benefit of being able to generate documentation helps data ingestion, and also end users if they only want to work on API endpoints.
Just thought there must be some way to do so.

Thanks,

[2020-09-22 15:49] mars-lan commented on #1888
This is a bit dated but hopefully still works: https://github.com/linkedin/rest.li-api-hub

[2020-09-22 23:03] camelliazhang commented on #1887
+1 on RFC (Naga, lol)
This is interesting. Some initial thoughts about it. I am working on getting away from soft deletion for secondary indices. If an aspect is soft deleted, we need to think whether the relationship derived from it needs to hard or soft deleted.  Also, status itself is an aspect, need to clarify what does it mean if Status aspect is soft deleted? Lastly, should the derived aspec

[2020-09-22 23:21] jplaisted commented on #1887
I think there are some cases for querying soft deleted entities from secondary indexes, but it probably isn't the 90% use case.

Example: "Find all my removed upstream datasets" (good indication my pipeline is broken)

Another example maybe "find all datasets with inactive owners". Granted, "inactive" users (left the company) are not the exact same thing as "removed" datasets, but it's sort of the

[2020-09-22 23:22] jplaisted commented on #1887
I'm not saying those are good use cases / enough to justify only soft deletion, I'm just playing devil's advocate.

[2020-09-22 23:23] MiChaelinzo opened #1891 "I'm having error with LinkedIn.com search "See all people results""
**Describe the bug**
It won't show all people results, it would just display 2 people out of About 4,540,000 results
It's empty af
**To Reproduce**
Steps to reproduce the behavior:
1. Search
2. Click on "See all people results"
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
 "See all people results" out of 4,540,000 resu

[2020-09-22 23:31] jplaisted commented on #1891
Hey @MiChaelinzo thanks for the feedback, but this GitHub repo isn't for linkedin.com (that is not open sourced).

This is for another product, DataHub, made by LinkedIn, the company.

This help article explains how to file feedback for search linkedin.com: https://www.linkedin.com/help/linkedin/answer/118778/provide-feedback-on-linkedin-search-results?lang=en

[2020-09-22 23:31] #1891 closed

[2020-09-22 23:54] nagarjunakanamarlapudi commented on #1887
I believe yes. We should invalidate the relationships in graph . Relations exist only when the aspect is present.  If the aspect powering the relations is invalid, then the relations created as a result of this aspect should be invalid too.

How we invalidate those relations, whether soft or hard deletes depends on the use case.  I believe @jplaisted  is right on the point, individual use cases dr

[2020-09-23 11:20] mars-lan commented on #1888
Saw you posted on rest.li's github: https://github.com/linkedin/rest.li/issues/420

Yeah looks like the tool is probably outdated. Internally, we're discussing making DataHub the de facto tool for rest.li API endpoint documentations so stay tuned!

[2020-09-24 16:06] themightylaz commented on #1861
Hi @mars-lan , actually Datahub is working now. With kafkaavroserde bumped up to 5.5.1 and using kafkastore.* made it work, even when it complains that it isn't a known config (very confusing). So I'll create a PR tomorrow.

[2020-09-24 16:14] mars-lan commented on #1861
Oh wow. Printing the wrong log is worse than not logging. Glad to hear that.

[2020-09-24 16:15] mars-lan commented on #1861
@themightylaz could you also add/update corresponding docs in your PR? Thanks!

[2020-09-24 17:00] themightylaz commented on #1861
Sure, will do that.

On Thu, 24 Sep 2020 at 18:15, Mars Lan <notifications@github.com> wrote:

[2020-09-25 15:44] liangjun-jiang opened #1892 "Default KAFKA_BOOTSTRAP_SERVER Value"
curious why there is no default `KAFKA_BOOTSTRAP_SERVER` in either [gms]( https://github.com/linkedin/datahub/blob/master/gms/factories/src/main/java/com/linkedin/common/factory/KafkaEventProducerFactory.java#L21), or not in related file in `mce-consumer-job` and `mae-consumer-job`, but
the `[KAFKA_SCHEMAREGISTRY_URL:http://localhost:8081](https://github.com/linkedin/datahub/blob/master/gms/factor

[2020-09-25 15:46] mars-lan commented on #1892
Makes sense. Most likely we just forgot to add them in the first place. Mind to create a PR?

[2020-09-25 15:47] mars-lan commented on #1759
Will close this for now assuming it was due to invalid credential like other cases. Feel free to reopen otherwise.

[2020-09-25 15:47] #1759 closed

[2020-09-25 15:49] mars-lan commented on #1728
@cobolbaby seems like this has been fixed in the latest frontend. Could you verify and close it?

[2020-09-25 16:11] liangjun-jiang commented on #1892
If we look at the comment [here](https://github.com/linkedin/datahub/blob/master/gms/factories/src/main/java/com/linkedin/common/factory/KafkaEventProducerFactory.java#L34), it said
[code]

but unfortunately, the bean of `kafkaEventProducer` can not be instantiated if we don't set `KAFKA_BOOTSTRAP_SERVER`
A PR will be sent.

[2020-09-25 16:56] jplaisted commented on #1840
My base change to the code is now in (sorry about that delay). I'll work next on wiring it up with spring.

[2020-09-26 11:38] #1892 closed

[2020-09-27 01:13] cobolbaby commented on #1728
The value of `tableSchema` in `common.py` is still ''. Is the front-end code compatible with this situation? If possible, please clarify the relevant code.

[2020-09-27 16:38] mars-lan commented on #1728
@cptran777 I believe you've fixed handling of empty schema here?

[2020-09-27 16:40] mars-lan commented on #1731
Assuming we can close this in favor of https://github.com/linkedin/datahub/pull/1841. Feel free to reopen otherwise.

[2020-09-27 16:40] #1731 closed

[2020-09-27 16:40] mars-lan commented on #1860
@moodleexpert can we close this now?

[2020-09-28 05:22] moodleexpert commented on #1860
Yes you can

[2020-09-28 11:25] #1860 closed

[2020-09-28 11:26] mars-lan commented on #1858
Assuming this has been resolved. Feel free to reopen with follow-up information.

[2020-09-28 11:26] #1858 closed

[2020-09-28 11:27] mars-lan commented on #1852
Ping @q2515045

[2020-09-28 19:09] cptran777 commented on #1866
Since this no longer seems to be an issue, will close.

[2020-09-28 19:09] #1866 closed

[2020-09-29 13:31] #1861 closed

[2020-09-29 13:53] brendansun opened #1902 "Run datahub-gms docker image gives BeanInstantiationException"
**Describe the bug**
I ran each docker container separately with environment variable and volume defined in the `doker.env` file. Other components can be correctly initialized except `datahub-gms`. It is able to connect to all required process:
![image](https://user-images.githubusercontent.com/72085837/94567991-0169c600-023a-11eb-81fa-209d685c6ddf.png)

It throws following exception after a while

[2020-09-29 14:48] rakreek commented on #1855
Hi there @cptran777 . Just wanted to check in on this request. Sounds like you expected it wouldn't be too bad. Is there any update you can share with the fans? Thank you!

[2020-09-29 20:59] #1840 closed

[2020-09-29 21:00] jplaisted commented on #1840
This should now be configurable for our applications and Java based ingestion examples (we're still porting a few over from python). See latest commit description:

[2020-09-30 16:13] mars-lan opened #1906 "Add onboarding document for deltas"
Currently there's only high-level doc on [metadata delta](https://github.com/linkedin/datahub/blob/master/docs/what/delta.md) without a concrete example showing the onboarding process.

[2020-09-30 17:26] jplaisted commented on #1906
We're not supporting this anymore with mxe v5, right? Maybe we shouldn't document it, intentionally? :p Try to ensure less people are on it when we make the switch?

[2020-09-30 17:31] mars-lan commented on #1906
We'll be supporting that in MXEv5. Deltas & Aspects will still need to be annotated separately.

[2020-09-30 19:30] liangjun-jiang opened #1907 "Does Datahub use H2 database?"
I am using Skywalking App Performance monitor tool to play with Datahub,  Skywalking topology gives me a H2 database.
Wonder if it actually exits and get used.

Best,
![Screen Shot 2020-09-30 at 2 29 02 PM](https://user-images.githubusercontent.com/356347/94730794-618b6580-0329-11eb-9ffe-0ef00b79a5f3.png)

[2020-09-30 19:43] mars-lan commented on #1907
We do use it for [ImmutableLocalDAO](https://github.com/linkedin/datahub/blob/master/metadata-dao-impl/ebean-dao/src/main/java/com/linkedin/metadata/dao/ImmutableLocalDAO.java), which is leveraged by `/dataPlatforms` endpoint: https://github.com/linkedin/datahub/blob/master/gms/impl/src/main/java/com/linkedin/metadata/resources/dataplatform/DataPlatforms.java#L28

[2020-09-30 19:45] mars-lan commented on #1906
Also seems like the MCE processor isn't handling delta correctly yet: https://github.com/linkedin/datahub/blob/master/metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/MetadataChangeEventsProcessor.java#L56

[2020-09-30 19:46] evanw555 commented on #1888
Not sure if this is sufficient, but Rest.li services support generated documentation out-of-the-box. For a service hosted at `https://domain`, go to `https://domain/restli/docs`. It's a little basic but it's there

[2020-09-30 19:47] mars-lan commented on #1888
@newsummit Nice. Didn't know about this trick :)

[2020-09-30 20:01] mars-lan commented on #1888
Updated the doc with this new trick: https://github.com/linkedin/datahub/blob/master/gms/README.md#api-documentation
Closing this issue for now.

[2020-10-01 13:10] mars-lan commented on #1907
Closing this assuming the question has been answered. Feel free to reopen otherwise.

[2020-10-01 13:10] #1907 closed

[2020-10-01 16:36] grantatspothero commented on #1906
Delta support would be very helpful in order to ingest downstream lineage deltas.

Unlike upstream lineage which is completely determined by how a dataset is built, downstream lineage is distributed because one dataset can be utilized in multiple places by multiple different systems. Thus it is hard to get a complete datasetsnapshot of downstream lineage when doing metadata ingestion since you wou

[2020-10-01 20:28] liangjun-jiang opened #1910 "Handle entity ES indexing in the code"
**Is your feature request related to a problem? Please describe.**
Currently, we create ES index for each entity by `curl` in the [ES docker setup](https://github.com/linkedin/datahub/tree/master/docker/elasticsearch-setup). Moving to the code level has been on the roadmap.

**Describe the solution you'd like**
Handle entity ES indexing in the code level

**Describe alternatives you've considered*

[2020-10-01 23:09] jplaisted opened #1911 "feat: Move "gma" (backend) to linkedin/datahub-gma"
We've created the git repo https://github.com/linkedin/datahub-gma. It currently contains the initial code we'd like to move. We'll move more things later, but this is the initial move for now.

Once that repo is set up to start publishing jars, we should depend on them and delete the code from this repo. And then clean up documentation.

[2020-10-01 23:10] jplaisted commented on #1911
Also reminder to move any open and applicable issues and prs...

[2020-10-02 12:42] mars-lan commented on #1910
@jplaisted has been playing with this internally. Will let him comment here. Let's not rush to a RFC first until we've figured out the best approach in this thread first.

[2020-10-02 13:06] mars-lan commented on #1906
@grantatspothero I think you may have misunderstood how Downstream & Upstream work. We currently only capture upstream in an aspect because

1. the full list of upstream is generally available at the time of collection
2. the list of upstream datasets is finite, whereas the list of downstream can be unbounded

We index the upstream as edges in the graph and traverse the graph to figure out the dow

[2020-10-02 14:41] grantatspothero commented on #1906
@mars-lan That makes sense you can infer downstream lineage from upstream lineage.

I jumped to conclusions about needing to set downstream lineage explicitly because it was not showing up in the UI. I will try to debug why that inference of downstream lineage is not making its way into UI and let you know what I find 👍

[2020-10-02 16:47] jplaisted commented on #1910
I haven't really done any work, just thought about it. I don't have the context as to why we have these json "templates" today. I would certainly prefer in code; it may be more verbose but it is at least type safe. @camelliazhang or @mars-lan may have more context on why we use json.

Maybe we can provide it as an option.

[2020-10-02 17:59] jplaisted commented on #1840
Documentation also updated in https://github.com/linkedin/datahub/pull/1909

[2020-10-02 18:26] #1730 closed

[2020-10-02 20:00] cptran777 commented on #1855
Hey @rakreek haven't had time to go and address this issue yet because of some internal issues with our pipeline to push to open source and trying to get an earlier ask out. This is in our TODO list, though, and should be able to sit down and actually address it next week.

[2020-10-02 20:02] cptran777 commented on #1728
If the return value of `rawSchema` is an empty string, then we will consider it to have a schema. However `rawSchema` cannot be null or undefined.

[2020-10-02 21:00] liangjun-jiang commented on #1910
OK. I had this feature working for the reference. It still reads json index files but we don't have to create the index using `cUrl` against ES server directly.

https://github.com/liangjun-jiang/datahub/tree/es-indexing has the implementation. The gotcha is that it works with ES 6.3.2 & ES 7.

[2020-10-02 21:13] jplaisted commented on #1910
Also, that is another tagent to talk about. We are thinking of adding ES7 support this quarter. I'll look at your branch to see how you did it, but we probably have to support 5 for a bit (so we don't break existing datahub users with the upgrade). I'm hoping we can avoid having multiple jars on our end, like a elasticseach5-dao and elasticsearch7-dao.. but idk.

[2020-10-02 21:20] liangjun-jiang commented on #1910
probably multiple support are unavoidable if plan to support multiple version of ES. there are tiny syntax diff. between ES 6 & ES 7 for what Datahub is using. just FYI.
I leave you to decide the direction.

[2020-10-03 06:23] rahultw commented on #725
facing the same issue. How to load hive metadata?

[2020-10-03 13:59] mars-lan commented on #725
@yinsong this was an issue opened for WhereHows, which we no longer support. Please refer to https://github.com/linkedin/datahub/tree/master/metadata-ingestion/sql-etl for how this is done for DataHub.

[2020-10-05 04:07] nagarjunakanamarlapudi commented on #1887
Marking this as feature request.

[2020-10-05 14:38] hgcummings opened #1915 "Bulk metadata export"
**Is your feature request related to a problem? Please describe.**
The motivation here is primarily "vendor lock-in" anxiety. If an organisation builds up a rich set of metadata in DataHub, could this easily be migrated to another tool?

This might be less of an issue at the moment while metadata is expected to be gathered by some kind of automated script (like the examples under `metadata-ingest`

[2020-10-05 15:26] mars-lan commented on #1915
All info stored in ES & Neo4j should be derivable from the metadata aspects stored in MySQL/Postgres so a simple dump of those DB should suffice. Agree that JSON-within-SQL isn't the best format though. Note that we do plan to start supporting other NoSQL DBs (e.g. MongoDB) in the near future. It'd be nice to have a way to export the metadata aspects in a portable way so one can migrate from one s

[2020-10-05 17:41] mars-lan commented on #1566
We have likely identified the root cause of this internally. @camelliazhang is working on a fix.

[2020-10-05 21:49] grantatspothero commented on #1906
@mars-lan Downstream lineage not showing up was an unrelated problem due to configuration problems with our neo4j cluster sorry about the red herring.

[2020-10-06 15:45] samatspothero opened #1917 "Docker configurable Auth"
**Is your feature request related to a problem? Please describe.**
Was looking into Auth for Datahub. It seemed to imply in the quickstart that there was some username/password auth built in. https://github.com/linkedin/datahub/blob/master/docs/quickstart.md#datahub-quickstart-guide

However, there was no password configured in any of the startup scripts. Mars pointed out to me that in fact the de

[2020-10-06 18:14] grantatspothero opened #1919 "Add metrics for MAE service"
**Is your feature request related to a problem? Please describe.**
The MAE service periodically lost connectivity to neo4j and writes to neo4j got dropped. These errors got logged in the MAE service like:
[code]

However, there were no metrics around these errors so we did not know anything went wrong. We only found out this error happened later when we noticed downstream lineage was getting dropp

[2020-10-06 18:29] mars-lan commented on #1919
@arunvasudevan @liangjun-jiang I believe Expedia implemented something like this? Is it possible to upstream those changes?

[2020-10-06 22:07] maggiehays opened #1923 "Broken links on User Avatar"
**Describe the bug**
Clicking on a user avatar for a Dataset entity routes the user to `https://cinco.linkedin.biz/people/[username]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Dataset entity with an associated owner
2. Click on the user icon/avatar
3. Page redirects to `cinco.linkedin.biz`
4. Recieve error

**Expected behavior**
I would expect to be routed to the user's DataHu

[2020-10-06 22:09] jplaisted commented on #1923
I filed this as https://github.com/linkedin/datahub/issues/1866. Seems like it was closed as not reproducible but snuck back in?

[2020-10-06 22:21] #1658 closed

[2020-10-06 23:43] maggiehays commented on #1923
@grantatspothero @samatspothero curious if we are seeing this issue because we're running a forked version?

[2020-10-07 15:01] rutvijsharma opened #1928 "Elasticsearch License expiration warning"
Running a elasticsearch docker run command using an image that is based off of the quickstart image results in a warning shown  below:

"License [will expire] on [Saturday, October 31, 2020]. If you have a new license, please update it. Otherwise, please reach out to your support contact."

According to Mars Lan, the qickstart image is pulling the commercial version instead of the community one. D

[2020-10-08 00:34] cptran777 commented on #1923
Ah I see the issue. This is the result of some overdue tech debt, but now that I can spot the issue properly I can start refactoring for the fix. Please stand by.

[2020-10-08 04:21] #1928 closed

[2020-10-09 03:07] keremsahin1 commented on #1878
PR (https://github.com/linkedin/datahub/pull/1884) for backend work is in review @cobolbaby. Hopefully, we'll merge it soon.

[2020-10-09 05:16] cobolbaby commented on #1923
Same issue.

[2020-10-12 00:39] emailstonl commented on #1518
crated script to run all api listed in readme - https://github.com/emailstonl/datahub/blob/master/datahub-frontend/test/script/apiTest.sh

[2020-10-12 17:43] mars-lan commented on #1518
Thanks. Updated the doc to include this info: https://github.com/linkedin/datahub/blob/master/datahub-frontend/README.md#api-debugging

Closing this issue now.

[2020-10-12 17:43] #1518 closed

[2020-10-13 18:44] mars-lan commented on #1923
Should be fixed in #1935

[2020-10-13 18:44] #1923 closed

[2020-10-14 04:23] cobolbaby commented on #1556
Custom fields can already be displayed currently, can we advance the development of this feature?

- Search and filter according to Tags
- Search results page displays Tags

[2020-10-14 23:18] camelliazhang commented on #1556
@mars-lan yes, so far our search model support primitive datatypes or array of primitive datatypes,  maps are harder and I would suggest not go down this road (to support map). Looking  at #1730, customProperties is a map [string, string], I wonder what are the use case that motivate such fields in the first place?

As a mid-term solution, we can certainly add a tags field for search document mode

[2020-10-15 03:06] mars-lan commented on #1852
One ping @q2515045. Will close this issue by 10/19 if there's no response before then.

[2020-10-15 03:07] mars-lan commented on #1728
@cptran777 can we close this now?

[2020-10-15 03:10] mars-lan commented on #1902
[code]

Seems like it's still a connection issue to your DB, most likely incorrect hostname and/or port, or incorrect credential?

[2020-10-15 07:23] starsliao opened #1941 "after ingest sample data, There is no content on the DataHub Web"
before run this command：docker build -t ingestion -f docker/ingestion/Dockerfile . && cd docker/ingestion && docker-compose up，
 There is no content  on the DataHub Web ，As shown in the figure below：
<img width="810" alt="linkedin_datahub1" src="https://user-images.githubusercontent.com/3349611/96089802-ebc2f480-0ef9-11eb-8ef0-d686d97a6398.png">
 after run this command ：docker build -t ingestion -

[2020-10-15 08:03] HondaHsu2020 opened #1942 "There are some error when search on the DataHub Web"
Hi , There are some error when I search  on the DataHub Web, As shown below：
06:37:57.704 [qtp626202354-13] INFO  c.l.parseq.TaskDescriptorFactory - No provider found for TaskDescriptor, falling back to DefaultTaskDescriptor
06:38:01.473 [qtp626202354-16] ERROR c.l.metadata.dao.browse.ESBrowseDAO - Browse query failed: Elasticsearch exception [type=search_phase_execution_exception, reason=all shar

[2020-10-15 08:10] HondaHsu2020 opened #1943 "There are some errors when I check"
Hi， when I run this command:docker logs datahub-frontend, there are errors :

1.
[code]

2.
[code]

3.
[code]
4. when I run docker logs elasticsearch,there are some errors:
[code]

Hi, How can I solve these problems

[2020-10-15 13:49] brendansun commented on #1902
Thanks for you help. I think we have fixed this issue. Not sure why but likely due to the reason that docker daemon has crashed once and some services are being cached. We fixed it by resetting remote server. You are right that it is probably DB issue. Closing issue as its fixed now.

[2020-10-15 13:49] #1902 closed

[2020-10-15 14:15] mars-lan commented on #1943
[code]

Seems like your Elasticsearch docker is down? Did you allocate enough memory to your docker daemon as stated in the [Quickstart guide](https://github.com/linkedin/datahub/blob/master/docs/quickstart.md)

[2020-10-16 00:04] jywadhwani commented on #1941
I suspect `datahub-mae-consumer` container is not running. `docker container ls` should be able to verify the same.

[2020-10-16 09:15] HondaHsu2020 commented on #1943
Previously, the memory was 8g. Now, docker compose - P datahub, stop, add memory to 12g, and execute docker - compose - P datahub up. However, after restarting docker,and View log and run the command : **docker logs datahub-gms**.
**at First ,the log as follows:**

“2020-10-16 08:39:01.360:INFO:oejsh.ContextHandler:main: Started o.e.j.w.WebAppContext@3339ad8e{Open source GMS,/,file:///tmp/jetty-0_

[2020-10-16 11:51] mars-lan commented on #1943
Looks like elasticsearch index still failed to start for whatever reason

[code]

Could you [nuke your docker environment](https://github.com/linkedin/datahub/blob/master/docs/debugging.md#ive-messed-up-my-docker-setup-how-do-i-start-from-scratch) and start from scratch again? I just checked out HEAD and tried from a clean slate and it worked as expected.

[2020-10-16 11:52] mars-lan commented on #1942
Seems like a duplicate of https://github.com/linkedin/datahub/issues/1943. Feel free to reopen if it's not.

[2020-10-16 11:52] #1942 closed

[2020-10-16 12:19] mars-lan commented on #1556
@cobolbaby I'd also encourage to join our [slack workspace](https://join.slack.com/t/datahubspace/shared_invite/zt-dkzbxfck-dzNl96vBzB06pJpbRwP6RA) (if haven't done so already) to interact with the rest of the community.

[2020-10-16 12:28] mars-lan commented on #1556
Alternatively we can concat tag name & value into a string, e.g. `tag:val`, and stuff them into a single array.

[2020-10-17 05:44] HondaHsu2020 opened #1946 "About the problem that "mysql | 2020-10-17T01:19:30.151603Z 1007 [Note] Bad handshake""
I can see the status of datahub,
"fsets-32 -> Vector(1), __consumer_offsets-40 -> Vector(1))) (kafka.controller.KafkaController)
broker                  | [2020-10-17 01:17:41,876] DEBUG [Controller id=1] Topics not in preferred replica for broker 1 Map() (kafka.controller.KafkaController)
broker                  | [2020-10-17 01:17:41,876] TRACE [Controller id=1] Leader imbalance ratio for broker

[2020-10-17 08:59] HondaHsu2020 commented on #1941
@mars-lan
**My problem as  same as starsliao’ s problem:**
" 07:59:28.046 [qtp626202354-17] INFO  c.l.parseq.TaskDescriptorFactory - No provider found for TaskDescriptor, falling back to DefaultTaskDescriptor
07:59:30.251 [qtp626202354-11] ERROR c.l.metadata.dao.search.ESSearchDAO - Search query failed:Elasticsearch exception **[type=search_phase_execution_exception, reason=all shards failed]**
08

[2020-10-17 11:59] mars-lan commented on #1941
As @HondaHsu2020 pointed out, this is likely a duplicate of https://github.com/linkedin/datahub/issues/1943. Let's focus the discussion in that issue. Closing this for now.

[2020-10-17 11:59] #1941 closed

[2020-10-17 12:05] mars-lan commented on #1946
Seems to do with TLS negotiation and it's completely benign as explained here: https://github.com/mysql-net/MySqlConnector/issues/726

[2020-10-17 12:05] #1946 closed

[2020-10-20 04:56] taufiqibrahim opened #1948 "Datahub UI: redirected to login page after successful login"
I am trying to do mini POC in my environment. I am using OpenLDAP as test environment and already created user named `testuser`

The problem was:
- Login via login page
- Redirected to Browse (successfully logged in)
After a second, the UI redirected back to Login page
- It seems that (GET) `/api/v1/user/me` has problem in my machine
- I already onboard LDAP users via ldap etl
- Already checked th

[2020-10-20 16:24] liangjun-jiang commented on #1948
I saw the similar issue days ago. I found out that if you build & run the `frontend` module directly, it will solve your problem.
Well, probably it will solve half your problem. At least, you can use this app. It might not solve your OpenLDAP authentication problem.

https://github.com/linkedin/datahub/tree/master/datahub-frontend

[2020-10-20 20:58] #1875 closed

[2020-10-21 09:28] taufiqibrahim commented on #1948
@liangjun-jiang I already tried rebuilding the `frontend` but no luck.

However, just found something interesting.

I tried to create `datahub` user in OpenLDAP. I can login normally.

Then I checked in MySQL. The only difference between `datahub` records and another LDAP users was there are no `com.linkedin.identity.CorpUserEditableInfo` aspect entry for LDAP users which ingested via LDAP ETL.

I

[2020-10-21 09:51] taufiqibrahim commented on #1948
I can confirm that login works normally, after I added default `CorpUserEditableInfo` inside `ldap_etl.py` like this:

[code]

[2020-10-21 12:18] mars-lan commented on #1948
Thanks for the additional info. Looks like the frontend is assuming the existence of the `com.linkedin.identity.CorpUserEditableInfo`, which seems incorrect to me. @nagarjunakanamarlapudi could you take a look at this? Thanks.

[2020-10-21 12:49] #1852 closed

[2020-10-21 16:35] #1855 closed

[2020-10-21 21:14] nagarjunakanamarlapudi commented on #1948
I think I know what's happening here. One of the midtier logic assumes the presence of `CorpUserEditableInfo` aspect all the times. Will provide fix.

[2020-10-22 02:38] HondaHsu2020 opened #1951 "Why the file "MetadataChangeEvent.avsc" is not exist"
[root@localhost kafka-etl]# python3 metadata-ingestion/mce-cli/mce_cli.py produce -l metadata-events/mxe-schemas/src/renamed/avro/com/linkedin/mxe/MetadataChangeEvent.avsc -d metadata-ingestion/mce-cli/bootstrap_mce.dat
**python3: can't open file 'metadata-ingestion/mce-cli/mce_cli.py': [Errno 2] No such file or directory**
[root@localhost kafka-etl]# pwd
/root/datahub-0.4.3/metadata-ingestion/kaf

[2020-10-22 03:18] mars-lan commented on #1951
The file is generated as part of the build and hence the step 2 in https://github.com/linkedin/datahub/tree/master/metadata-ingestion

[2020-10-22 03:21] #1948 closed

[2020-10-22 05:45] NiravLangaliya commented on #1951
#step-1
cd ~/datahub
#step-2
./gradlew :metadata-events:mxe-schemas:build

[2020-10-22 12:36] flyingtosy opened #1952 "How can I delete a dataset?"
How can I delete a dataset?

[2020-10-22 12:47] mars-lan commented on #1952
Please see https://github.com/linkedin/datahub/blob/master/docs/what/entity.md#how-to-delete-an-entity for more details.

[2020-10-22 12:53] HondaHsu2020 opened #1953 "Why is there no the table structure metadata, after run mysql_etl.py"
I configure the connection information for connecting to MySQL in the file "mysql_etl.py", Then I executed this python script,
The execution process fragment information is as follows：

{'auditHeader': None, 'proposedSnapshot': ('com.linkedin.pegasus2avro.metadata.snapshot.DatasetSnapshot', {'urn': 'urn:li:dataset:(urn:li:dataPlatform:mysql,ec_oms.virtual_manage_store,PROD)', 'aspects': [{'owners'

[2020-10-22 13:00] flyingtosy commented on #1952
thanks

[2020-10-22 13:00] #1952 closed

[2020-10-22 13:56] NiravLangaliya commented on #1953
are you able to access your database using API Calles?

Here are  examples

https://github.com/linkedin/datahub/blob/928444928a1618d0a861cfff371d12951d39a3ab/gms/README.md

[2020-10-22 17:47] mars-lan commented on #1951
Assuming this has been answered. Feel free to reopen otherwise.

[2020-10-22 17:47] #1951 closed

[2020-10-22 18:19] nagarjunakanamarlapudi commented on #1953
What does get api of schema return ?

https://github.com/linkedin/datahub/blob/928444928a1618d0a861cfff371d12951d39a3ab/gms/README.md#get-dataset-schema

[2020-10-22 19:55] NiravLangaliya opened #1954 "A short description of the question"
Hello All, I am getting this error and I have deleted all docker containers https://github.com/linkedin/datahub/blob/master/docs/debugging.md#ive-messed-up-my-docker-setup-how-do-i-start-from-scratch   and starting docker again as given in step#4 https://github.com/linkedin/datahub/blob/master/docs/quickstart.md

![image](https://user-images.githubusercontent.com/13895686/96923209-8e690d80-14ce-11

[2020-10-23 02:12] jsotelo opened #1956 "Use PlatformInfo to better compose browse paths"
**Is your feature request related to a problem? Please describe.**
Dataset names that have `.` in them are split by the browse endpoint regardless of the [Platform delimiter](https://github.com/linkedin/datahub/blob/f0485a490e08445d1459de3cd697c6cc0b2189d5/metadata-models/src/main/pegasus/com/linkedin/dataplatform/DataPlatformInfo.pdl#L72). See the bread crumbs in the image below:

![image](https:

[2020-10-23 04:25] mars-lan commented on #1954
Did you make any changes to the docker files? Could you also try manually remove `datahub_network` (See https://docs.docker.com/engine/reference/commandline/network_rm/)

[2020-10-23 04:35] mars-lan commented on #1956
Makes sense. Internally we do use `Platform delimiter` to build the browse path. Somehow it didn't flow into OSS correctly.

[2020-10-23 13:07] NiravLangaliya commented on #1954
It is working, we can close this question, thank you for helping me out.

[2020-10-23 13:07] #1954 closed

[2020-10-23 13:11] mars-lan commented on #1954
Cool. Updated https://github.com/linkedin/datahub/blob/master/docs/debugging.md#ive-messed-up-my-docker-setup-how-do-i-start-from-scratch accordingly

[2020-10-23 14:05] NiravLangaliya opened #1957 "Getting Error while running gradlew build"
Getting below error while running gradlew build command as per  https://github.com/linkedin/datahub/tree/master/metadata-ingestion step#2

`./gradlew :metadata-events:mxe-schemas:build`

![image](https://user-images.githubusercontent.com/13895686/97013371-9b394000-1566-11eb-811f-44dcdcdfecae.png)

![image](https://user-images.githubusercontent.com/13895686/97013381-9ffdf400-1566-11eb-87d3-7c2d4a5a

[2020-10-23 15:14] nagarjunakanamarlapudi commented on #1957
Looks like the build is happening on a windows machine.

I was able to replicate similar error on a windows machine.

@mars-lan is this the first use case of building on windows ??

[2020-10-23 17:05] mars-lan commented on #1957
Most likely https://github.com/linkedin/rest.li/issues/287

[2020-10-23 22:14] #1911 closed

[2020-10-26 09:53] HondaHsu2020 opened #1961 "Which runing steps did I miss About Metadata Ingestion"
I follow the description of the page “ https://github.com/linkedin/datahub/tree/master/metadata-ingestion”

**1 ： ./gradlew :metadata-events:mxe-schemas:build**

**2：[root@localhost kafka-etl]# docker ps**
CONTAINER ID        IMAGE                                                 COMMAND                  CREATED             STATUS   PORTS                                                      NAMES
3

[2020-10-26 12:32] mars-lan commented on #1961
This seems like a duplicate of https://github.com/linkedin/datahub/issues/1953. Let's focus the discussion there?

[2020-10-26 12:32] #1961 closed

[2020-10-27 01:12] HondaHsu2020 commented on #1953
**I tried several times, but I still couldn't，Is there any missing step：**

**1：build the mxe-schemas module：**
     ./gradlew :metadata-events:mxe-schemas:build

**2：check my python version **
    [root@localhost ~]# python3 --version
    Python 3.6.8

**3: install requirements **
    [root@localhost mysql-etl]# cat requirements.txt
     avro-python3==1.8.2
     confluent-kafka[avro]==1.4.0

[2020-10-27 03:19] HondaHsu2020 opened #1963 "what data types does the "pegasus2avro" supports?"
in bootstrap_mce.dat :
"type": {
	      "type": {
			   "com.linkedin.pegasus2avro.schema.**StringType**": {}
			 }

the   "varchar" type  in  mysql  map  the "String" type of pegasus2avro，so, I want to know  what data types does the "pegasus2avro" supports?

[2020-10-27 03:29] mars-lan commented on #1963
You can see all the types here: https://github.com/linkedin/datahub/blob/master/metadata-models/src/main/pegasus/com/linkedin/schema/SchemaFieldDataType.pdl

[2020-10-27 08:07] Shikha-Trivedi-Saxo opened #1965 "Viewing all historic versions of the schemas"
**Is your feature request related to a problem? Please describe.**
If the schema is modified on certain point of time, the users will have different relevant versions .For example :  if the compatibility is set as forward...the producer will be dependent on V2 version schema but the consumer still uses V1 schema. So how can both producer and consumer visualize their relevant schemas on the LDH fro

[2020-10-27 10:59] rakreek commented on #1855
Thanks so much! 💯

[2020-10-27 11:11] gammaeva opened #1966 "cannot access basic documentation on the API endpoints (restli)"
I installed datahub with the quickstart
When I open my browser at 'http://localhost:8080/restli/docs' I'm having this error why ?:

```{"exceptionClass":"com.linkedin.restli.server.RestLiServiceException","stackTrace":"com.linkedin.restli.server.RestLiServiceException [HTTP Status:404]: No root resource defined for path '/restli'\n\tat com.linkedin.restli.server.RestLiServiceException.fromThrowabl

[2020-10-27 11:42] flyingtosy opened #1967 "associated dataset with user"
I add a dataset 'SampleTestDataset' and how can I associated it with user datahub?
![datahub](https://user-images.githubusercontent.com/44353347/97296726-fed7ac00-188b-11eb-9750-dea851c1c16a.png)

{
  "events": [
    {
      "proposedSnapshot": {
        "com.linkedin.metadata.snapshot.DatasetSnapshot": {
          "urn": "urn:li:dataset:(urn:li:dataPlatform:hdfs,SampleTestDataset,PROD)",

[2020-10-27 12:13] mars-lan commented on #1888
@evanw555 Seems like the endpoint (`/restli/docs`) is no longer working (See https://github.com/linkedin/datahub/issues/1966). Has it been moved to a different path?

[2020-10-27 12:14] mars-lan commented on #1966
Seems like the docs endpoint may have been moved to a different path. Checking with the rest.li folks in  #1888

[2020-10-27 14:24] mars-lan commented on #1967
@flyingtosy could you use the API to verify that the sample dataset is created correctly?

[code]

[2020-10-27 14:50] mars-lan commented on #1953
@HondaHsu2020 Please provide the result of the schema API call as suggested by @nagarjunakanamarlapudi.

[2020-10-27 14:50] mars-lan commented on #1943
Assuming this has been resolved. Feel free to reopen otherwise.

[2020-10-27 14:50] #1943 closed

[2020-10-27 17:12] jplaisted commented on #1963
Better yet, use the Java version of the CLI, which consumes a json file rather than avro. Much easier to use.

I should've moved the old python version to contrib as part of #1871, not sure why I didn't. Let me move it.

[2020-10-27 23:02] evanw555 commented on #1966
According to the source code, the generated documentation is served if you're querying the path `/restli/docs` or if the HTTP request method is `OPTIONS`. Could you try again with an `OPTIONS` request to verify that the documentation request handler is at least working? If we can confirm that, then the issue is related to how the path is being read

[2020-10-27 23:38] gammaeva commented on #1966
I tried with `OPTIONS` but I'm having the 404 ERROR again with this commands :
`curl -X OPTIONS http://localhost:8080` or `curl -X OPTIONS http://localhost:8080/restli/docs`

[2020-10-27 23:40] mars-lan commented on #1966
@evanw555 isn't the document supposed to be rendered as a HTML page for viewing in a browser? I don't think there's an easy way to change the request method in that case?

[2020-10-27 23:56] evanw555 commented on #1966
@mars-lan Correct. I'm just asking for debugging purposes.

@gammaeva Interesting... It seems like the request handler isn't being invoked. What version of Rest.li is being used?

[2020-10-28 00:03] evanw555 commented on #1966
Oops! I looked into it some more, and I made a bad assumption. It turns out that the generated documentation is _not_ served by default (though we do enable it by default in all our internal services). Luckily, enabling it is quite easy; wherever you initialize your Rest.li server and set the `RestLiConfig`, just add this line:
[code]
Then the steps in my previous comments should work.

[2020-10-28 01:11] mars-lan commented on #1966
Got it. Let us enable that by default. I think the behavior must have changed recently as we remember explicitly that it was working before without needing the handler.

[2020-10-28 01:20] HondaHsu2020 commented on #1953
@mars-lan
[root@localhost mysql-etl]# **curl -H 'X-RestLi-Protocol-Version:2.0.0' -H 'X-RestLi-Method: get' 'http://10.118.71.181:8080/datasets/($params:(),name:ec_order.purchasing,origin:PROD,platform:urn%3Ali%3AdataPlatform%3Amysql)/schema/0' | jq**
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Le

[2020-10-28 02:08] flyingtosy commented on #1967
@mars-lan
curl -H 'X-RestLi-Protocol-Version:2.0.0' -H 'X-RestLi-Method: get' 'http://localhost:8080/datasets/($params:(),name:SampleTestDataset,origin:PROD,platform:urn%3Ali%3AdataPlatform%3Ahdfs)'
i get the output
{"urn":"urn:li:dataset:(urn:li:dataPlatform:hdfs,SampleTestDataset,PROD)","ownership":{"owners":[{"owner":"urn:li:corpuser:jdoe","type":"DATAOWNER"},{"owner":"urn:li:corpuser:datahub",

[2020-10-28 12:05] mars-lan commented on #1953
The curl call looks correct to me. The fact that it returned 404 means your MCE wasn't ingested correctly. Check the docker log to see if there's any error?
[code]

[2020-10-28 13:03] mars-lan commented on #1966
Confirmed that doc page is showing after https://github.com/linkedin/datahub/pull/1969. However, it seems that all the links are "relative" (e.g. `restli/docs/rest/corpGroups`) instead of "absolute" (e.g. `/restli/docs/rest/corpGroups`), so clicking on them lead to an incorrect path (e.g. `http://localhost:8080/restli/restli/docs/rest/corpGroups`). Created https://github.com/linkedin/rest.li/issue

[2020-10-28 13:17] mars-lan commented on #1967
Okay looks like the ownership has been set correctly. Are you not seeing that under "Datasets I owned" page? Your original screenshot got cut off so I can't tell what the other 2 datasets are in the table.

[2020-10-28 15:05] #1966 closed

[2020-10-28 15:42] gammaeva commented on #1966
Thank you it works, I can access to /restli/docs but when I try the links, I have a 404 error again because of a wrong generated path :
`restli/restli/docs/rest/dataPlatforms`

[2020-10-28 15:59] mars-lan commented on #1966
Yup, see my comment above. Let's track that separately in https://github.com/linkedin/rest.li/issues/464

[2020-10-28 18:35] mars-lan commented on #1967
@flyingtosy now that https://github.com/linkedin/datahub/pull/1970 has gotten in, could you verify if the issue has been fixed?

[2020-10-29 05:53] HondaHsu2020 commented on #1953
@mars-lan

I get good news today, The curl call dataset ,It was successful， as follow:

[root@localhost datahub-0.4.3]# curl -H 'X-RestLi-Protocol-Version:2.0.0' -H 'X-RestLi-Method: get' 'http://10.118.71.181:8080/datasets/($params:(),name:ec_order.purchasing_status,origin:PROD,platform:urn%3Ali%3AdataPlatform%3Amysql)/schema/0' | jq
  % Total    % Received % Xferd  Average Speed   Time    Time

[2020-10-29 07:34] flyingtosy commented on #1967
@mars-lan thanks, it works

[2020-10-29 07:37] #1967 closed

[2020-10-29 12:57] mars-lan commented on #1957
Unfortunately, it seems that rest.li team has little interest in supporting Windows (see https://github.com/linkedin/rest.li/issues/287). Will close this for now and encourage DataHub users to build on Mac & Linux instead.

[2020-10-29 12:57] #1957 closed

[2020-10-29 15:28] liangjun-jiang opened #1974 "EbeanLocalDAO vs BaseLocalDAO"
I am looking at the use case of `BaseLocalDAO` [here](https://github.com/linkedin/datahub/blob/master/gms/impl/src/main/java/com/linkedin/metadata/resources/dataset/Datasets.java#L70)
We also have `EbeanLocalDAO` class. Should not we use `EbeanLocalDAO` there?

We have `[DatasetDaoFactory](https://github.com/linkedin/datahub/blob/master/gms/factories/src/main/java/com/linkedin/gms/factory/dataset/

[2020-10-29 15:44] nagarjunakanamarlapudi commented on #1974
It can be `BaseLocalDAO` or `EbeanLocalDAO` as `DatasetDaoFactory` returns `EbeanLocalDAO`

Any specific reason why `EbeanLocalDAO` is needed here ?

[2020-10-29 16:03] liangjun-jiang commented on #1974
why DatasetDaoFactory returns EbeanLocalDAO? what's the relationship between the `factory` and `implementation`?
`BaseLocalDAO` is an abstract class, should its subclass(EbeanLocalDAO) be used while it has been built?

[2020-10-29 16:51] mars-lan commented on #1974
Theoretically it should be `BaseLocalDAO` everywhere except in the factory when the actual implementation (`EbealLocalDAO`) is created. I'd say we should probably change `DatasetDaoFactory` to return `BaseLocalDAO` instead.

[2020-10-29 18:31] jplaisted commented on #1974
+1, unless we ever want specific methods on `EbeanLocalDAO` (just as `List` has `get(int)`, where as `Collection` does not).

In this case I believe their public interfaces are the same, so yes we should prefer the parent type.

[2020-10-29 19:59] jplaisted commented on #1804
As an fyi, we moved the backend (GMA / Generalized Metadata Architecture) to its own repo, and it publishes artifacts to bintray.

https://github.com/linkedin/datahub-gma

[2020-10-30 13:08] mars-lan commented on #1953
Interesting. Could you open "Developer Tools" in Chrome > "Network" tab and share the result of the `/api/v2/datasets/<urn>/schema` API call?

[2020-11-03 08:00] shakti-garg commented on #1804
Thanks John! Saw the changes in (https://github.com/linkedin/datahub/pull/1955).
Am i correct in understanding that datahub-gma will have separate release lifecycle than datahub?

[2020-11-03 16:53] #1747 closed

[2020-11-03 17:56] jplaisted commented on #1804
Yes. Ideally we'll set up a continuous release for it soon, so ever push to master will publish a new version. But the versioning scheme will also be independent.

[2020-11-04 17:50] shubhamg931 opened #1983 "Ability to restrict editing access for certain users"
**Is your feature request related to a problem? Please describe.**
Currently, there is no access control over user activity, and any new inexperienced user can change/add the dataset's owner, docs, depreciation status, etc.
This could be quite troublesome for even small startups and easily become unmanageable for larger organizations.

**Describe the solution you'd like**
It would be nice even to

[2020-11-05 18:33] mars-lan opened #1984 "Rename default branch to "main""
To be more inclusive: https://github.com/github/renaming

[2020-11-11 03:35] maggiehays opened #1990 "Improve UI Navigation with Environment/Schema-Level Descriptions"
**Problem**
When navigating the UI, platform and/or schema-level namespaces are not always intuitive to a diverse range of users and can cause confusion about what data is included in each hierarchical level.

**Proposed Solution**
Ability to pass descriptions at all levels of dataset entity folder structure and to surface sub-folder descriptions during navigation.

Ideally, context/description of

[2020-11-12 01:21] maggiehays opened #1992 "Dataset Previews"
**Problem**
During data discovery, dataset naming conventions and/or documentation do not always provide enough context to understand the relevance of a given dataset. Analysts and Data Scientists frequently run simple `select * from ... limit 10` queries to get a better understanding of the shape of data and to determine if it is relevant to their use case.

This requires them to execute further

[2020-11-12 01:30] maggiehays opened #1993 "Enable Field/Column-level Search"
**Problem**
Users can't search for a specific field or fuzzy-match a field name across datasets and/or platforms. This requires them to know the full domain of potentially relevant datasets where they might find that field.

**Proposed Soultion**
Enable field/column-level search.

[2020-11-12 01:42] maggiehays opened #1994 "ERD PK/FK Mapping between Datasets in the Relationship view"
**Problem**
One of the primary pain points for Analysts and Data Scientists during data discovery is to understand the column-level relationship between datasets so they can make accurate associations within - and across - data domains.

The existing "Relationship" functionality is helpful to understand what dataset-level interdependencies exist, but not informative as to which columns are driving

[2020-11-12 03:45] nagarjunakanamarlapudi commented on #1993
Yeah, we have been thinking of this for a while now. Let me get on to this.

[2020-11-12 10:42] shakti-garg-saxo opened #1995 "Indentation issue while templating helm charts"
**Describe the bug**
If there is extraEnvs, extraVolumes or extraVolumeMounts provided to datahub helm charts, it throws a templating error:
Error: YAML parse error on datahub-gms/templates/deployment.yaml: error converting YAML to JSON: yaml: line 39: did not find expected key

**To Reproduce**
Steps to reproduce the behavior:
1. Add an extraEnv to values.yaml of datahub-gms helm chart
`datahub-g

[2020-11-12 10:45] shakti-garg-saxo commented on #1995
This issue is coming due to lower value of the indentation value applied to extraEnvs and other extra variables when templated to the deployment.yaml.

Please assign this bug fix to me as it is fixed and already in testing.

[2020-11-13 15:35] mars-lan commented on #1994
Thanks for the suggestion. We have recently approved the [Field Level Lineage RFC](https://github.com/linkedin/datahub/blob/master/docs/rfc/active/1841-lineage/field%20level%20lineage.md) and have demoed an internal POC visualization (see https://github.com/linkedin/datahub/blob/master/docs/townhall-history.md#08282020 for recording).

The goal is to productionize and open source the function in t

[2020-11-17 06:59] shakti-garg-saxo opened #2003 "Ability to add pod-level annotations to the datahub helm charts"
**Is your feature request related to a problem? Please describe.**
We need to redirect logs and metrics to ELK stack. For this, we need to configure annotations at the pod level, so that the metric beat and log beat services can discover them.

**Describe the solution you'd like**
Add annotation property in deployment definition and ability to configure it dynamically using values.yaml.

[2020-11-17 15:29] #1995 closed

[2020-11-17 23:20] #2003 closed

[2020-11-19 19:46] #1728 closed

[2020-11-20 03:16] cobolbaby commented on #1888
Any progress on this issue?

[2020-11-20 03:32] cobolbaby commented on #1992
Refer: #1854

[2020-11-20 04:58] mars-lan commented on #1888
The issue is "half fixed". See https://github.com/linkedin/rest.li/issues/464 for more details.

[2020-11-20 20:01] #1993 closed

[2020-11-25 08:36] shubhamg931 commented on #1993
I guess fuzzy-match is still not working.. Can we keep this issue open?

[2020-11-25 12:08] flyingtosy opened #2010 "Is there any example of FieldLineage"
Is there any example of field lineage?

[2020-11-25 17:42] mars-lan commented on #1993
@shubhamg931 instead of re-opening, could you please create a new ticket?

[2020-11-25 18:21] apgilfillan opened #2012 "Not all elasticsearch indices being created when running quickstart script"
**Describe the bug**
When installing datahub following the quickstart guide, the elasticsearch indices are not completely being created. In particular, the `datasetdocument` indices are missing.

**To Reproduce**
Steps to reproduce the behavior:

1. Start a fresh EC2 instance
2. Install Docker using these steps
- ` sudo apt-get update   `
- `sudo apt-get install \
    apt-transport-https \
    ca-

[2020-11-25 20:13] nagarjunakanamarlapudi commented on #2010
Field level lineage is not yet fully ramped up. We have started off with RFC and few models are checked in.
Please stay tuned for more updates on this.

[2020-11-26 01:41] cobolbaby commented on #1878
Close the issue.

Ref: https://github.com/linkedin/datahub/tree/master/gms#create-dashboards

[2020-11-26 01:41] #1878 closed

[2020-11-26 02:20] #2010 closed

[2020-11-26 09:43] fr-ashikaumagiliya opened #2014 "Quick start : throwing error Received error 500 from server for URI http://datahub-gms:8080/datasets"
**Describe the bug**
Followed the Quick Start guides. Ingested sample data as well.
No data new data was available in the Datahub UI.

Throws following errors:

<img width="1221" alt="Screen Shot 2020-11-26 at 18 40 53" src="https://user-images.githubusercontent.com/70580659/100334501-38c8d900-3017-11eb-9183-7ebfd7523a1c.png">
<img width="1481" alt="Screen Shot 2020-11-26 at 18 41 25" src="https:/

[2020-11-26 14:01] yhjyoon opened #2017 "link broken in the code in-line comment"
Link provided in the code in-line comment is broken.  Is there any other link I can take a look into?

Code:
https://github.com/linkedin/datahub/blob/1283dd3ff49ea169ff5b8b24eec7952bd3f70e09/metadata-models/src/main/pegasus/com/linkedin/dataset/SchemaFieldPath.pdl

Link:
http://go/tms-schema

[2020-11-26 14:55] mars-lan commented on #2017
Sorry this is for an internal link. @nagarjunakanamarlapudi can we move some of those info to OSS?

[2020-11-26 16:07] nagarjunakanamarlapudi opened #2018 "Enable CRUD on DataPlatform entity"
**Is your feature request related to a problem? Please describe.**
DataPlatforms information is coded in [a static file](https://github.com/linkedin/datahub/blob/master/gms/impl/src/main/resources/DataPlatformInfo.json) and read using Immutable DAO.

Refer [comment here](https://github.com/linkedin/datahub/pull/2000#discussion_r530046945)

**Describe the solution you'd like**
Change the store  Dat

[2020-11-26 16:09] nagarjunakanamarlapudi commented on #2017
Yes. This is also in the roadmap of field level lineage. There is a need for standardizing the field paths in OSS

[2020-11-26 16:23] nagarjunakanamarlapudi commented on #2014
I ran into the same issue yesterday. The way I fixed is, I dropped the datasetdocument elastic search index and recreated it using the settings at https://github.com/linkedin/datahub/blob/master/docker/elasticsearch-setup/dataset-index-config.json

You could unblock yourself by doing the above. We can look into why the quickstart is not creating the index correctly for datasets.

[2020-11-27 17:27] shubhamg931 commented on #1993
Sure

[2020-11-28 15:29] shubhamg931 opened #2019 "Fuzzy match support for searching over fieldpaths"
**Is your feature request related to a problem? Please describe.**
Fuzzy match is not supported for newly added Field level search ( https://github.com/linkedin/datahub/issues/1993 ). One needs to type the full field name or add an asterisk after the partial search to search for datasets based on field names.

**Describe the solution you'd like**
It would be nice to have fuzzy matching or auto-com

[2020-11-30 04:55] fr-ashikaumagiliya commented on #2014
@nagarjunakanamarlapudi this fixed the exception. however,  search and DataSet browser doesnt show any records even after ingesting sample data.

[2020-11-30 16:06] nagarjunakanamarlapudi commented on #2014
@fr-ashikaumagiliya ... please truncate `metadata_aspect` table in mysql and reingest the data. Now, the data will be available both in mysql and ES, and DataHub UI will be able to show the data.

Reason: When there is no change in data in Kv store(mysql)... the MAEs fired by ingestion process will not be used for populating search indices. In this case when u reingested the data, it is the same d

[2020-11-30 16:26] th0ger opened #2020 "Version in docker-compose.yml is unsupported"
When following the [quick-start guide](https://github.com/linkedin/datahub/blob/master/docs/quickstart.md), at step `./docker/quickstart.sh` I get:

`
ERROR: Version in "./docker-compose.yml" is unsupported. You might be seeing this error because you're using the wrong Compose file version. Either specify a supported version (e.g "2.2" or "3.3") and place your service definitions under the `servic

[2020-11-30 19:42] th0ger commented on #2014
Same issue here, the proposed solution doesn't work for me:

[code]

[code]
this generates logs such as:
[code]

When checking the browser for new data i still get **Elasticsearch exception - all shards failed**:
[code]

[2020-12-01 13:29] nagarjunakanamarlapudi opened #2023 "Inject Restli Clients into ES index builders"
**Is your feature request related to a problem? Please describe.**
There is a need of hitting GMS while generating the search documents. Refer the conversation at https://github.com/linkedin/datahub/pull/2000

**Describe the solution you'd like**
Inject restli client into ES index builders as necessary

**Describe alternatives you've considered**
We can duplicate the information from GMS to index

[2020-12-01 13:54] th0ger opened #2025 "ingestion.sh: Could not download data.jar / unable to find valid certification path"
When running `ingestion.sh` get the following download/certification issue.

[code]

With simply `wget` i get:
[code]

[2020-12-01 14:07] nagarjunakanamarlapudi commented on #2020
Interesting ...  I am using docker `19.03.13`  and compose files with `3.8`. It works for me

[code]

[2020-12-01 14:12] nagarjunakanamarlapudi commented on #2019
Are you referring to advanced search with query like `fieldPaths:foo*`  ?

[2020-12-01 14:37] shubhamg931 commented on #2019
yes

[2020-12-01 16:44] th0ger commented on #2020
[code]
[code]
[code]
Runnning inside Windows 10 / WSL2.

[2020-12-01 18:19] jplaisted commented on #2020
Can you also file this on docker? Based on that compatibility matrix from the OP this sounds like a bug on them?

[2020-12-01 18:21] jplaisted commented on #2025
is this on the same machine as #2020?

[2020-12-01 20:03] th0ger commented on #2025
@jplaisted yes

[2020-12-01 20:55] jplaisted commented on #2025
I'm wondering if it is related. Seems like your docker is just not working (which docker was supposed to help solve the whole "it works on my machine" stuff...). I'm wondering if maybe this is a windows issue. Do you have another machine (mac/linux) you can try on?

[2020-12-01 20:58] th0ger commented on #2020
@jplaisted I think you are right, here's a minimal example `docker.compose.yml`:
[code]
[code]
version: `3.7` works.

[2020-12-01 22:06] th0ger commented on #2020
The issue was caused by too low version of `docker-compose` = `1.25.0`, which is unfortunately the highest version Ubuntu supports on [any of their current releases](https://packages.ubuntu.com/search?keywords=docker-compose&searchon=names&suite=all&section=all), including `focal (20.04LTS)`, `groovy (20.10)` and `hirsute`.

For reference if anyone needs it:
I'm on `focal (20.04LTS)` with `docker-

[2020-12-01 22:06] #2020 closed

[2020-12-01 22:34] th0ger commented on #2025
Not related to #2020 (insufficient docker-compose version).
I'm suspecting it to be a corporate network issue. Right now the issue is gone (even the `wget` test), and I'm outside the corporate network.

[2020-12-01 22:43] th0ger commented on #2014
This latest commit still doesn't fix the issue for me.
@fr-ashikaumagiliya did it fix yours?

[2020-12-02 00:52] jplaisted commented on #2025
I think @igbopie also saw this on his linux tower. Did you ever resolve this, or did you just resort to using your mac?

[2020-12-02 16:23] nagarjunakanamarlapudi opened #2026 "Schema Metadata aspect model shouldn't contain version and audit fields"
**Describe the bug**
[SchemaMetadata](https://github.com/linkedin/datahub/blob/master/metadata-models/src/main/pegasus/com/linkedin/schema/SchemaMetadata.pdl) is an aspect of Dataset. This contains audit columns and version fields. This is ideally an API model and not an aspect model. Producers should tell what is the schema and audit fields are maintained by GMS and served thr' APIs.
Refer this t

[2020-12-03 00:49] truezxd opened #2029 "how ingestion oracle metadata into datahub?"
pip install cx_oracle
install oracle  instantclient_11_2

vi oracle_etl.py
from common import run
# See https://github.com/PyMySQL/PyMySQL for more details
URL = 'oracle://system:oracle@10.9.28.51:1521/orcl' # e.g. mysql+pymysql://username:password@hostname:port
OPTIONS = {"encoding": "utf8"} # e.g. {"encoding": "latin1"}
PLATFORM = 'oracle'
run(URL, OPTIONS, PLATFORM)

python3 oracle_etl.py
error

[2020-12-03 07:56] laaksma commented on #2026
Thank you for opening this!
Are the audit fields included in the Avro schema because they are included in the `.pdl` schema of the SchemaMetadata:
`SchemaMetadata includes SchemaMetadataKey, ChangeAuditStamps`?
Does this also concern `ChartInfo` and `DashboardInfo` where the `lastModified` field is of type `ChangeAuditStamps`?

[2020-12-03 09:49] truezxd commented on #2029
reason:  config env network  proxy

[2020-12-03 09:49] #2029 closed

[2020-12-03 13:28] nagarjunakanamarlapudi commented on #2026
You are correct.

IMO, most of the times, producers of the metadata don't store the history of when the metadata has changed. They simply fire and forget (either thr' MCEs or calling the APIs directly).  If that is the case, producers, generally, would have no clue of `created` and `lastModified`. They only know about `lastSeen` or `lastObserved`. When the actual metadata changes (or the aspect co

[2020-12-03 19:43] #2023 closed

[2020-12-04 07:03] laaksma commented on #2026
Thank you for the detailed explanation. Your first paragraph describes also how I've assumed this to work.

What would the fix look like? Removing the `ChangeAuditStamps` include clause or making the fields optional? Is anything else required for GMS to be able to fill those fields later on?

[2020-12-04 09:25] Shikha-Trivedi-Saxo opened #2030 "For Inactive owners special character( , ) is coming after every owner's name."
**Describe the bug**
After version upgrade from v3.0.0 to v5.0.0, if there is any inactive owner in the metadata then on the frontend there is a special character ( , ) following every owner's name is being displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Datahub frontend
2. Click on ownership aspect
3. Scroll down to Inactive owners name
4. See error that ' , ' is coming aft

[2020-12-04 09:55] Shikha-Trivedi-Saxo commented on #2030
If you think this bug is valid, I would like to volunteer for the fix.

[2020-12-04 14:25] laaksma commented on #2026
This same issue also concerns `Ownership` aspect. Could this be solved in a wider effort to make this consistent across all entities?

[2020-12-04 15:45] nagarjunakanamarlapudi commented on #2030
Looks like a bug for me.

cc: @cptran777

[2020-12-04 21:00] jplaisted commented on #2026
I think we still need to think through this philosophically.

- For audit stamp, what does that column in our DB _mean_? Is it the time the service wrote that row, or the time the metadata was updated? These can be quite different if you have crawlers / offline jobs that update the metadata services.
- For version, what does that mean? Is it always monotonically increasing? At the very least, in t

[2020-12-07 08:44] jiakai908 commented on #1858
i also meet this preblom. how can I solve this ? I have only config kafka and run the mysql_etl.

[2020-12-09 16:23] brianmatson01 opened #2035 "Quickstart results in broken UI that can't search datasets"
**Describe the bug**
I've been trying to evaluate the Datahub but have been unable to get a working deployment using the quickstart guide.  I've verified this issue with Docker running on both MacOS and LinuxMint.

What happens is the quickstart runs smoothly and all containers come up and run cleanly.  I can then successfully run the ingestion of sample data, however, when I go to the UI and try

[2020-12-09 16:30] nagarjunakanamarlapudi commented on #2035
It looks like the dataset index is not created properly.

Can you share the logs of docker `elasticsearch-setup` ?

[2020-12-09 16:40] brianmatson01 commented on #2035
Hi, thanks for the quick response!

Here are the logs:

2020/12/08 22:01:57 Waiting for: http://elasticsearch:9200
2020/12/08 22:01:57 Problem with request: Get http://elasticsearch:9200: dial tcp 172.18.0.8:9200: getsockopt: connection refused. Sleeping 1s
2020/12/08 22:01:58 Problem with request: Get http://elasticsearch:9200: dial tcp 172.18.0.8:9200: getsockopt: connection refused. Sleeping 1s

[2020-12-09 16:43] brianmatson01 commented on #2035
Also, I did do the index check recommended by the debugging guide.  I ran:

curl http://localhost:9200/_cat/indices

and got:

yellow open dashboarddocument    lIL-gnJ5QDSy7fCKEgWQ2Q 5 1 0 0   955b   955b
yellow open .kibana              u4Uki18KSBuyXPyvBSq_1g 1 1 1 0  3.2kb  3.2kb
yellow open chartdocument        ECB4BJjDQza6t9On_GWk6w 5 1 0 0   955b   955b
yellow open matson               C99QPZ

[2020-12-09 16:55] nagarjunakanamarlapudi commented on #2035
Here I see in the logs.

Dataset document is not created with the settings intended.

This should have been fixed #2022

[2020-12-09 16:59] nagarjunakanamarlapudi commented on #2035
That said ... for me running the quick start doesn't give that error during index creation.

+ @jplaisted to see if you can help here

[2020-12-09 17:15] brianmatson01 commented on #2035
Hmm interesting, my local codebase was pulled from the v0.6.1 tag so it seems I should've gotten that fix.

[2020-12-09 17:59] jplaisted commented on #2035
Let me sync back to that and check it out

[2020-12-09 18:26] jplaisted commented on #2035
- Ran `git checkout v0.6.1`
- Ran `docker container prune`
- `docker container ls` showed no existing containers
- Ran `./docker/quickstart.sh`
- Logged into the frontend, verified no data in the UI yet
- Ran `./docker/ingestion/ingestion.sh`, saw it emit the records successfully
- Refreshed the UI and I can now see datasets on the "datasets I own page" and the browse page and can search for them

[2020-12-09 18:35] brianmatson01 commented on #2035
Hi all,
So I followed Nagarjuna's instructions from issue [https://github.com/linkedin/datahub/issues/2014](#2014) to drop and recreate the index, and truncate the `metadata_aspect` table, and reran ingestion and now its looking good.

But here's the outputs for the docker commands to help diagnose if this is a real issue or just a mistake on my end:

`docker image ls | grep datahub`
linkedin/data

[2020-12-09 18:58] jplaisted commented on #2014
@th0ger are you still having issues? In #2035 truncating did work for someone.

Can you try clearing your docker volumes and starting again?

[2020-12-09 19:02] jplaisted commented on #2035
Ok, i think dropping / remaking the index is probably what did it. I think somehow your index was created with that bad configuration previously, and when you updated your docker images the setup image doesn't _update_ existing indexes (as we saw above), it only tries to create indexes.

I think we can fix the elasticsearch-setup image to do a create or update, rather than just a create, which wil

[2020-12-09 19:32] brianmatson01 commented on #2035
Ok great, thanks for the help! I'm all set now to check out the system.

[2020-12-11 03:49] mars-lan commented on #1858
@jiakai908 could you include the full error log to help us debug? Thanks.

[2020-12-14 09:23] shakti-garg opened #2037 "UI: Why nativeSchema tab is called JSON?"
<img width="1426" alt="image" src="https://user-images.githubusercontent.com/5525521/102062859-481f9300-3e1b-11eb-8fe0-a1ddbabdbe32.png">

In the above page, the content in JSON tab is being populated from following aspect of dataset MCE(DatasetSnapshot-> SchemaMetadata-> platformSchema) which has structure like below:
[code]

Now the questions is:
Is it compulsory to provide platform schema in JS

[2020-12-14 14:58] yhjyoon opened #2038 "Feature to provide snapshot of current/active entities and aspects and their properties; and, relationships among them"
**Is your feature request related to a problem? Please describe.**
My team goes through a manual exercise of mapping entities, aspects, and their properties manually to help us understand what's available now to assess the need for customization
https://datahubspace.slack.com/archives/CV2KB471C/p1607709607286700

**Describe the solution you'd like**
A feature to:
1. list out all entities and aspec

[2020-12-14 15:39] nagarjunakanamarlapudi commented on #2037
You are correct. Ideally, we should have called it as RAW schema.

@cptran777, @igbopie  FYI

[2020-12-14 16:03] riyad-hub opened #2039 "https://github.com/login/oauth/authorize"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-12-14 19:50] jplaisted commented on #2039
Hey @riyad-hub

This bug has the default description and a non descriptive title. As it stands it is not clear what this bug is for. I'm going to close this for now, but feel free to open a new one with a descriptive title and good description of the issue :)

[2020-12-14 19:50] #2039 closed

[2020-12-14 20:05] jplaisted commented on #2038
We have the graph visualization for lineage. We could potentially repurpose that for displaying the lineage flow of entities in the ecosystem.

fyi @woodyzhou

[2020-12-14 21:50] camelliazhang commented on #2038
This needs PDL schema onboarding & relationships built between entity & aspect models. Internally we had similar thoughts as well, with larger scope (the meta graph will involve other components such as the events that used to ingest data for a particular aspect, etc). FYI. + @nagarjunakanamarlapudi @vidvarma

[2020-12-14 22:47] camelliazhang commented on #2019
@nagarjunakanamarlapudi , based on @shubhamg931 's description, looks like auto completion for filedPaths is not successfully enabled? Some support in mid-tier might be missing. It can follow the same pattern for owners field.

[2020-12-14 22:52] nagarjunakanamarlapudi commented on #2019
Didn't get time to simulate this behaviour. But, it should follow the similar approach as owners and I thought it was working.

[2020-12-14 23:29] nagarjunakanamarlapudi commented on #2019
Looks like the field paths index and mapping settings of dataset document introduced in this https://github.com/linkedin/datahub/pull/2001 is overriden later by https://github.com/linkedin/datahub/pull/2028/

cc: @jplaisted

[2020-12-15 01:40] #2019 closed

[2020-12-16 23:41] th0ger commented on #2014
Still same issue after fresh start, on latest master/commit.
I did try truncation as explained above. Not sure what you mean by recreating the index, when i follow #2035 it seems to refer back to this issue (#2014).

[2020-12-17 02:06] jplaisted commented on #2014
The easiet way to recreate the index would be to clear your docker volumes. I mean literally deleting the index so the docker scripts can create it again. Or I can try submitting a potential fix I mentioned in #2035 (update settings if the index exists)

[2021-01-01 14:50] farQtech opened #2046 "Indices are not created in elasticsearch"
**Describe the bug**
When I run quick start script, only one index is created in elasticSearch.

**To Reproduce**
Steps to reproduce the behavior:
1. clone repository
2. Follow quickstart guid and run `./docker/quickstart.sh`
3. Follow [debugging guid](https://github.com/linkedin/datahub/blob/master/docs/debugging.md#how-can-i-confirm-if-all-docker-containers-are-running-as-expected-after-a-quicks

[2021-01-05 07:09] starzhou opened #2048 "Cannot resolve symbol 'DatasetsDoAutocompleteRequestBuilder', module gms"
package com.linkedin.dataset.client;

 class Datasets

import com.linkedin.dataset.DatasetsDoAutocompleteRequestBuilder;
import com.linkedin.dataset.DatasetsDoBrowseRequestBuilder;
import com.linkedin.dataset.DatasetsDoGetBrowsePathsRequestBuilder;
import com.linkedin.dataset.DatasetsDoGetSnapshotRequestBuilder;
import com.linkedin.dataset.DatasetsFindByFilterRequestBuilder;
import com.linkedin.da

[2021-01-05 17:47] nagarjunakanamarlapudi commented on #2046
Is DataHub quickstart supported on Windows ?

I know that the build of DataHub fails on windows and its a known issue  https://github.com/linkedin/datahub/blob/master/docs/developers.md

[2021-01-06 08:49] farQtech commented on #2046
It's very easy to miss. I switched to Linux environment and everything works fine now. closing this issue

[2021-01-06 08:49] #2046 closed

[2021-01-12 13:53] shakti-garg opened #2051 "‘?’ hyperlink in the Ownership tab pointing to invalid URL"
**Describe the bug**
"?" points to an invalid url, `https://iwww.corp.linkedin.com/wiki/cf/display/DWH/Metadata+Acquisition#ProjectOverview-ownership`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Ownership tab.'
2. Click on '?'
3. See error

**Expected behavior**
Fix the hyperlink with the correct url.

**Screenshots**
<img width="1530" alt="Screenshot 2021-01-12 at 7 14 42 PM" src

[2021-01-12 14:00] shakti-garg-saxo commented on #2037
If we have a consensus on the same, should I proceed with doing the changes and contribute back?

[2021-01-12 14:06] shakti-garg-saxo opened #2052 "Ability to define downstream lineage for datasets in the MCE message"
**Is your feature request related to a problem? Please describe.**
Currently, MCE -> Snapshot -> Dataset -> DatasetAspects only allow to define upstream lineage. This request is to also support defining downstream lineage as a dataset aspect.

**Describe the solution you'd like**
It should be a small change by importing already existing, DownstreamLineage.pdl to the DatasetAspect.pdl.

[2021-01-12 14:06] shakti-garg-saxo commented on #2052
Happy to contribute back, if you agree with the feature request and approach.

[2021-01-12 14:45] mars-lan commented on #2052
Since one can derive the downstream from all the upstream info, there's no need to capture them separately. DataHub currently uses the graph DB to query downstream information: https://github.com/linkedin/datahub/blob/master/gms/impl/src/main/java/com/linkedin/metadata/resources/dataset/DownstreamLineageResource.java#L67

[2021-01-12 14:48] mars-lan commented on #2037
Please do.

[2021-01-12 18:28] jplaisted commented on #2051
This might be a duplicate.

[2021-01-12 18:29] jplaisted commented on #2052
Closing for now, assuming this was answered (thanks, Mars). Having only one kind of edge in the metadata / ecosystem simplifies things.

[2021-01-13 04:41] shakti-garg-saxo commented on #2052
@mars-lan @jplaisted Thanks for quick reply. Let me present the use case for which I made this request(I should have  done this earlier).

From our source systems, we are getting lineage between datasets A and B. metadata of dataset A is known to us as it is part of source system which is already onboarded to the datahub. On contrary, dataset B belongs to some source for which we don't have any in

[2021-01-13 04:59] shirshanka commented on #2052
@shakti-garg-saxo: Even in the case where you attach lineage information to A (instead of B), you would need a dataset-urn for B.

The meta-model allows you to have nodes in the graph where aspects are not defined and are optional, so it should be possible for you to create the entity B without having to attach schema / other metadata to it.

One way, we have handled this differentiation of datase

[2021-01-13 06:22] camelliazhang commented on #2052
@shakti-garg-saxo This is an interesting topic. The current lineage model kind of assuming datasets have equal knowledge about lineage, now we are looking at the cases where certain nodes is holding more info; while some others may only be needed as bridges (they could be important though, to help uncover unknown lineages). For your use case, seems that we do need to introduce extra aspect such as

[2021-01-13 07:17] shakti-garg-saxo commented on #2052
Agree on all the above points. We will then continue on our existing approach of tagging unknown datasets with some markers.
@shirshanka agree on your suggestion to keep them visible to users for more push to compliance.
@camelliazhang Thanks for the pointing out technical downsides(I certainly overlooked them in my analysis :) )

[2021-01-13 07:17] #2052 closed

[2021-01-13 10:43] arpanm96 opened #2056 "Missing Upstream & Downstream table under Relationships tab"
**Describe the bug**
The upstream and downstream table is not being displayed under the relationships tab, although there exists lineage information which has both upstream and downstream dataset.

**To Reproduce**
Steps to reproduce the behavior:
1. Startup LDH v0.6.1 using the docker quickstart guide.
2. Go to http://localhost:9001/#/datasets/urn:li:dataset:(urn:li:dataPlatform:hdfs,SampleHdfsDa

[2021-01-13 15:26] hshahoss commented on #2056
@igbopie fyi

[2021-01-16 10:57] iamtodor commented on #2035
Hello gents,

I faced the issue with quick-start guide as well. I ran all commands successfully
[code]

All indeces have been created with no issues:
[code]

I see no issues in containers:
[code]
![image](https://user-images.githubusercontent.com/12586108/104809899-6c470900-57f9-11eb-945f-374ee01dbd6b.png)

However, I see no data on 9001 port
![image](https://user-images.githubusercontent.com/1258

[2021-01-19 13:01] shubham49 opened #2062 "IE support"
Are we not going to support IE 11?
https://github.com/linkedin/datahub/blob/550cdc51eecce9c5185c7d6713c9b9d6253703e4/datahub-web/configs/tsconfig-base.json#L3

[2021-01-19 17:54] jplaisted commented on #2062
IE 11 is hitting its end of life later this year. I don't think it is worth going out of our way to support it.

[2021-01-19 17:56] shubham49 commented on #2062
And edge?

[2021-01-19 23:48] mars-lan commented on #2035
Wondering if it's related to the `yellow` status of the ES indices?

[2021-01-20 13:58] arpanm96 opened #2064 "Ingest platformNativeType of Dataset"
This is what I'm seeing on running the docker quickstart and ingestion script on v0.6.1. The platform native type is coming as undefined.

<img width="1436" alt="Screen Shot 2021-01-20 at 4 57 44 PM" src="https://user-images.githubusercontent.com/17992485/105181585-ff61a500-5b51-11eb-8a2e-6969350078d4.png">

I can't find any field in MCE schema to ingest for the same.

How to populate the **platfo

[2021-01-20 20:34] jjoyce0510 commented on #2064
Hi there. It seems as though this field is _not_ being populated when Dataset.pdl is returned from GMS: https://github.com/linkedin/datahub/blob/master/gms/impl/src/main/java/com/linkedin/metadata/resources/dataset/Datasets.java#L124

Additionally, I don't see any fields in Dataset aspects / urn that would allow us to derive this.

Perhaps @jplaisted @nagarjunakanamarlapudi  can weigh in on where

[2021-01-20 20:56] nagarjunakanamarlapudi commented on #2064
Platform native type should probably a field in PlatformAspect. A pre requisite for that is to convert /dataPlatforms into GMA resource #2057

[2021-01-22 18:28] jjoyce0510 opened #2068 "Auto-generation of GMS clients, GQL DataLoaders + DataFetchers, GQL schema"
**Is your feature request related to a problem? Please describe.**
This is related to the new GraphQL API being introduced to DataHub. (https://github.com/linkedin/datahub/pull/2066)

**Describe the solution you'd like**
Automatically generate the following from GMS models:

- Generation of the primary entities on the GQL graph
- Generation of Pegasus->GQL mapper logic
- Generation of DataLoaders

[2021-01-22 18:29] jjoyce0510 commented on #2068
(I can be assigned this)

cc. @shirshanka

[2021-01-26 08:42] longnsl1998 opened #2070 "connection reused"
erorr when run by quickstart help me:
datahub-gms             | 2021/01/26 08:30:47 Problem with dial: dial tcp 172.26.0.5:3309: connect: connection refused. Sleeping 1s
datahub-gms             | 2021/01/26 08:30:48 Problem with dial: dial tcp 172.26.0.5:3309: connect: connection refused. Sleeping 1s
datahub-gms             | 2021/01/26 08:30:49 Problem with dial: dial tcp 172.26.0.5:3309: connect

[2021-01-26 17:28] grantatspothero commented on #2056
Confirming we are experiencing the same issue, thanks for opening the PR.

[2021-01-29 15:04] timothy-khom commented on #1705
@mars-lan could you advise please when SAML-based auth will be available in open-source version?

[2021-02-03 02:27] eeennn opened #2078 "avro.io.AvroTypeException: The datum is not an example of the schema"
[mysql_etl_error.txt](https://github.com/linkedin/datahub/files/5915651/mysql_etl_error.txt)
why is not the datum an example of the schema? I used the official python file, the path is /datahub-master/contrib/metadata-ingestion/python/mysql-etl/mysql_etl.py
What did I do wrong?
thanks your reply

[2021-02-03 02:42] shirshanka commented on #2078
Thanks for reporting it.
Looks like a bug in the python script.
Your time field is a float, when it should be a long.
Could you use the ingestion script from the top-level metadata-ingestion directory?
The bug seems to be fixed there: https://github.com/linkedin/datahub/commit/fa58c2d161ce5ee6295ca5bfa2f7b5041dac759d

We'll fix the ingestion scripts.

[2021-02-03 06:54] eeennn commented on #2078
thanks your reply！
I use this python script(/metadata-ingestion/sql-etl/mysql_etl.py), time field is changed, but the same wrong happened.

File "F:\Python_Project\datahub\venv\lib\site-packages\avro\io.py", line 809, in write
    raise AvroTypeException(self.writer_schema, datum)
avro.io.AvroTypeException: The datum {'auditHeader': None, 'proposedSnapshot': ('com.linkedin.pegasus2avro.metadata.sn

[2021-02-03 07:27] eeennn commented on #2078
'com.linkedin.pegasus2avro.metadata.snapshot.DatasetSnapshot', {'urn': 'urn:li:dataset:(urn:li:dataPlatform:mysql,atlas.lineage_relation,PROD)', ...
should be
'com.linkedin.pegasus2avro.metadata.snapshot.DatasetSnapshot': {'urn': 'urn:li:dataset:(urn:li:dataPlatform:mysql,atlas.lineage_relation,PROD)', ...
?
the , change to :

[2021-02-03 08:31] eeennn commented on #2078
i use this(https://github.com/linkedin/datahub/issues/1953) datum, but also has the datum is not an example of the schema, Is there a problem with the MetadataChangeEvent.avsc v1 or v2?

[2021-02-03 11:10] atlantisor opened #2079 "failed to "run pip install --user -r common.txt -r mysql_etl.txt""
**Describe the bug**
when Ingest metadata from SQL-based data systems to DataHub, according to README.md, it's failed to "run pip install --user -r common.txt -r mysql_etl.txt".
ERROR: Cannot install avro-python3 and confluent-kafka[avro]==1.4.0 because these package versions have conflicting dependencies.
The conflict is caused by:
    The user requested avro-python3
    confluent-kafka[avro] 1.4

[2021-02-03 11:16] atlantisor commented on #2079
it's one fixing solution as below:
1. edit the file /metadata-ingestion/sql-etl/common.txt and then
change
confluent-kafka[avro]==1.4.0
as
confluent-kafka[avro]

in addition, if remove the specified version(1.8.2) of avro-python3 on common.txt, it will cause the following error when run "python mysql_etl.py".
TypeError: Object of type 'mappingproxy' is not JSON serializable

[2021-02-03 18:32] pedro93 opened #2080 "Graphical tool for viewing & editing data models"
**Is your feature request related to a problem? Please describe.**
To define a data model for DataHub it is up to the developer to write down the pegasus files for every [entity](https://github.com/linkedin/datahub/tree/master/metadata-models/src/main/pegasus/com/linkedin/metadata/entity), [relationship](https://github.com/linkedin/datahub/tree/master/metadata-models/src/main/pegasus/com/linkedin/

[2021-02-03 19:25] hsheth2 commented on #2079
As per https://github.com/confluentinc/confluent-kafka-python/issues/610, it seems we have a hard dependency on avro-python3 version 1.8.2.

I think we should loosen the confluent-kafka[avro] requirement to `>=1.5`, which should allow everything the dependencies to be resolved by pip.

[2021-02-03 19:36] hsheth2 commented on #2079
@atlantisor can you let me know if this fixes the issue for you?

[2021-02-04 01:20] atlantisor commented on #2079
Requirement already satisfied: avro-python3==1.8.2 in /root/.local/lib/python3.7/site-packages (from -r common.txt (line 1)) (1.8.2)
Collecting confluent-kafka[avro]>=1.5
  Using cached confluent_kafka-1.5.0-cp37-cp37m-manylinux1_x86_64.whl (8.1 MB)
Requirement already satisfied: SQLAlchemy==1.3.17 in /root/.local/lib/python3.7/site-packages (from -r common.txt (line 5)) (1.3.17)
Requirement alrea

[2021-02-04 02:03] eeennn commented on #2078
and this python dependency has an error.

[](https://github.com/linkedin/datahub/blob/master/metadata-ingestion/sql-etl/common.txt)
ERROR: Cannot install avro-python3==1.8.2 and confluent-kafka[avro]==1.4.0 because these package versions have conflicting dependencies.
The conflict is caused by:
    The user requested avro-python3==1.8.2
    confluent-kafka[avro] 1.4.0 depends on avro-python3==1.9.

[2021-02-04 02:06] #2079 closed

[2021-02-04 02:08] shirshanka commented on #2078
I just merged in a fix for the dependency issue, can you re-pull and check?
https://github.com/linkedin/datahub/pull/2082

[2021-02-04 02:10] eeennn commented on #2078
and this python dependencies(https://github.com/linkedin/datahub/blob/master/metadata-ingestion/sql-etl/common.txt) has an error.
`ERROR: Cannot install avro-python3==1.8.2 and confluent-kafka[avro]==1.4.0 because these package versions have conflicting dependencies.
The conflict is caused by:
The user requested avro-python3==1.8.2
confluent-kafka[avro] 1.4.0 depends on avro-python3==1.9.2.1; pyth

[2021-02-04 02:17] eeennn commented on #2078
maybe need confluent-kafka[avro] <=1.3.0 due to avro-python3==1.8.2?
`ERROR: Cannot install avro-python3==1.8.2 and confluent-kafka[avro]==1.5.0 because these package versions have conflicting dependencies.

The conflict is caused by:
    The user requested avro-python3==1.8.2
    confluent-kafka[avro] 1.5.0 depends on avro-python3==1.10.0; python_version > "3.0" and extra == "avro"`

[2021-02-07 19:36] luck02 opened #2088 "> Task :gms:impl:integrationTest fails"
OS: Fedora 33

I get this in the terminal and via intellij IDE.

I have docker / docker-compose installed and I seem to be able to run the quickstart script.

I've pulled datahub locally and am running `gradlew build`

All tests except these are passing:

[code]
I've dug around trying to get some more details on what is actually failing during initialization but I'm not familiar with org.testconta

[2021-02-07 19:52] shirshanka commented on #2088
@luck02 : Are you on the latest? We thought we fixed it with this upgrade. (https://github.com/linkedin/datahub/pull/2085)

[2021-02-07 19:56] shirshanka commented on #2088
The workaround if that doesn't work for you, seems to be "clear / purge data from docker"

https://github.com/testcontainers/testcontainers-java/issues/3574#issuecomment-752917437

[2021-02-07 23:27] tekumara opened #2089 "Cannot login (quickstart)"
**Describe the bug**

Cannot login after following quickstart instructions

**To Reproduce**
Follow the quickstart instructions, ie:
1. Clone repo
2. Run ./docker/quickstart.sh
3. Navigate to http://localhost:9001/#/login and login as user datahub no password

**Additional context**
datahub-frontend logs:
[code]

[2021-02-07 23:29] tekumara commented on #2089
Looks like the linkedin/datahub-gms container hasn't started.

[2021-02-08 02:39] luck02 commented on #2088
I pulled the repo yesterday around 7pm Pacific.  I've since pulled again, I did get an update but problem persisted.

I'm on fedora so there's no docker desktop for that environment but I did clean / prune everything, that should accomplish the same thing.  IE `docker prune -a`

In any case I'm still seeing the error:

I'm on:
[code]
I see the commit from https://github.com/linkedin/datahub/pull/2

[2021-02-08 23:33] #2056 closed

[2021-02-08 23:42] jjoyce0510 commented on #2089
Hi there. Are you able to try re-deploying that single datahub-gms container? If it cannot come up that query will indeed fail.

Are you seeing anything in the logs for DataHub GMS service?

[2021-02-08 23:46] jjoyce0510 commented on #2088
A fresh `docker build` also does not work? We're seeing similar issues on other Linux deployments. If this does not work either let me know. In the meantime we will be looking into this further

[2021-02-08 23:53] jjoyce0510 commented on #2070
Please keep waiting until all containers are up and running. At that point, this error should go away.

Please confirm if this solves it @longnsl1998

[2021-02-09 00:21] hsheth2 commented on #2078
That's quite odd - you're totally right that it should be a conflict. And yet, the following commands worked on my machine:
[code]

For reference, this produced the following set of deps:
[code]

[2021-02-09 03:15] hsheth2 commented on #2088
In the short-term, as per https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html, you can run this command on your machine to make the tests pass:
[code]

Alternatively, you could skip the tests using `./gradlew build -x check`.

Once https://github.com/linkedin/datahub-gma/pull/76 gets merged and then integrated into this datahub repo, the tests should start passing

[2021-02-09 20:07] #2088 closed

[2021-02-09 20:56] luck02 commented on #2088
Thanks a bunch!  the feedback is appreciated!

[2021-02-09 20:57] shirshanka commented on #2088
@luck02 : could you verify if this now works for you?

[2021-02-09 21:29] luck02 commented on #2088
Will do this evening :D

[2021-02-10 04:15] luck02 commented on #2088
I pulled latest this evening and confirmed I saw #2094 in the log, issue is resolved.

Thanks!

[2021-02-11 10:38] RickardCardell opened #2100 "Neo4j TLS support"
Current neo4j-java-driver (4.0.0) that are used, lacks transport layer encryption towards Neo4j.
Support for the new URI schemas `bolt+s`, `neo4j+s` etc can be achieved by upgrading the driver to `4.0.1` from `4.0.0`.

References:
https://github.com/neo4j/neo4j-java-driver/pull/685
https://neo4j.com/docs/driver-manual/current/client-applications/

[2021-02-11 11:00] RickardCardell opened #2101 "Neo4j https support"
The docker start-script of `datahub-gms` and `datahub-mae-comnsumer` is [hardcoded](https://github.com/linkedin/datahub/blob/a9069d4d94a72abe9b2b250fab3ae1aaeb13dbd2/docker/datahub-gms/start.sh#L7) to `http`.

By moving out the URI scheme to the docker env, http, https or even bolt can be used for the start up wait script.

[2021-02-16 23:30] shirshanka opened #2110 "(rfc-request): Create an rfc to describe new ingestion framework motivations and design"
Filing an issue so we don't lose track of this item.

[2021-02-17 12:32] thomasplarsson opened #2113 "Enable mce-consumer to use https when talking to gms"
Hello.

Currently datahub-mce-consumer is hardcoded to use http when communicating with datahub-gms.
See
* https://github.com/linkedin/datahub/blob/master/datahub-dao/src/main/java/com/linkedin/datahub/dao/table/GmsDao.java#L41
* https://github.com/linkedin/datahub/blob/master/metadata-utils/src/main/java/com/linkedin/metadata/restli/DefaultRestliClientFactory.java#L43

In our deployment we are re

[2021-02-17 15:56] maggiehays opened #2114 "Ability to edit/maintain dataset information & relationships via UI"
**Is your feature request related to a problem? Please describe.**
In our organization, dataset- & field-level descriptions are not centrally located. Depending on the team, it may exist in database comments, the team's codebase, wiki pages, Google Sheets, LookML, Slack messages... the list goes on. It's not realistic that we will be able to build a scraper to collect & maintain this across such d

[2021-02-17 17:12] jplaisted commented on #2114
:( This is an interesting use case, but I do wonder if this just makes an N+1 problem (https://xkcd.com/927/).

I feel like descriptions are totally ok here, even with the n+1 problem. My bigger concern is around allowing users to specify relationships. I think we want to be able to trust the lineage data we to have to a good degree, at LI we use it to help with data governance and GDPR. I feel li

[2021-02-17 18:12] longnsl1998 commented on #2070
Tks

[2021-02-17 18:13] #2070 closed

[2021-02-17 21:28] #1877 closed

[2021-02-21 03:35] eeennn commented on #2078
hello, it also not work, it's so weird.
I used the following commands.
`# In the sql-etl directory.
python -m venv venv
source ./venv/bin/activate
pip install -r common.txt -r mysql_etl.txt
python mysql_etl.py
`
this is my deps.
`(venv) [root@datahub-gms sql-etl]# pip freeze
avro-python3==1.8.2
certifi==2020.12.5
chardet==4.0.0
confluent-kafka==1.6.0
dataclasses==0.8
fastavro==1.3.1
idna==2.10
PyM

[2021-02-22 07:00] eeennn commented on #2078
thanks, it's work, I use the new script [()](https://github.com/linkedin/datahub/tree/master/metadata-ingestion)

[2021-02-22 07:00] eeennn commented on #2078
thanks, it's work, I use the new script [(https://github.com/linkedin/datahub/tree/master/metadata-ingestion)](https://github.com/linkedin/datahub/tree/master/metadata-ingestion)

[2021-02-22 07:01] #2078 closed

[2021-02-22 11:59] thomasplarsson opened #2129 "Enable mae-consumer to use https when talking to elasticsearch"
**Is your feature request related to a problem? Please describe.**
Currently it is only possible for the mae-consumer to use http when communicating with elasticsearch.

**Describe the solution you'd like**
It should be possible to use https.

**Additional context**
There seems to be a bit of code duplication between the gms/factory and metadata-utils subprojects. Examples are the Neo4JDriver fact

[2021-02-24 19:02] frsann opened #2138 "Using a corpGroup as an owner for a dataset breaks the frontend"
**Describe the bug**
Setting a corpGroup as the owner of a Dataset will cause the frontend, and consequently the web UI, to error out. It basically come down to the error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a group
2. Create a dataset with above mentioned group as owner
3. Try to explore the dataset in the UI.

**Expected behavior**
To either be able to use corpGro

[2021-02-25 08:26] Nidhimnn opened #2142 "Implementation of Business Glossary"
**Is your feature request related to a problem? Please describe.**
It's an implementation of [RFC](https://github.com/linkedin/datahub/tree/master/docs/rfc/active/business_glossary)

**Describe the solution you'd like**
Solution is in the [RFC](https://github.com/linkedin/datahub/tree/master/docs/rfc/active/business_glossary)

[2021-02-25 22:26] #2113 closed

[2021-03-02 09:34] user5651 opened #2153 "Unable to ingest data from BigQuery sink"
I've followed the [Quickstart](https://github.com/linkedin/datahub/blob/master/docs/quickstart.md) guide and loaded sample data. The UI is up and running on port 9001 so all good there. Now I want to ingest data from my BigQuery instance but I keep getting an error related to SQLAlchemy. I've tried authenticating with gcloud but no luck.

Can anyone help with this? Happy to provide more info it'll

[2021-03-02 15:53] pedro93 opened #2155 "Ingestion framework not populating dataset native schema"
**Describe the bug**
When running the ingestion framework on a hive database the generated dataset snapshots do not have the platform native schema.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch a Hive container (for reference you can use https://github.com/big-data-europe/docker-hive)
2. Create a dummy database: https://github.com/big-data-europe/docker-hive#testing
3. Crawl the ne

[2021-03-03 02:18] hsheth2 commented on #2153
Thanks for letting us know @user5651 - I'm working on a fix for this right now.

Part of the issue was a small typo in the readme - it should've been `credentials_path`, with an 's' at the end of credentials. There's also a second issue around the schema naming, which I'm working through now.

[2021-03-03 05:57] hsheth2 commented on #2153
Hi @user5651: PR #2161 should fix this issue. Let me know if you have any issues with it 😄

[2021-03-03 10:43] user5651 commented on #2153
Thanks for the prompt response @hsheth2! I'm not very familiar with Github so maybe I did something wrong but I cloned your repo, set up Datahu, ran the same command to ingest from BigQuery and got the below error. Maybe this is just me though.

`(venv) root@datahub-test:/tmp/datahub/metadata-ingestion# datahub ingest -c /bigquery.yml
[2021-03-03 10:39:04,078] DEBUG    {datahub.entrypoints:64} - U

[2021-03-03 11:12] pedro93 opened #2162 "Make use of tagged releases"
**Describe the bug**
Right now there is no concept of releases for the docker images that are pushed to [docker hub](https://hub.docker.com/r/linkedin/datahub-ingestion). If a user wants to use a specific version they have to copy and maintain the source codebase on their side.
This makes deployments inconsistent, brittle and a moving target.
The last datahub release was in December last year. In

[2021-03-03 19:21] hsheth2 commented on #2153
@user5651 the linked PR hasn't been merged yet, so you'll need to check it out from the branch:
[code]

Alternatively, you could just wait until #2161 gets merged in.

[2021-03-03 20:00] user5651 commented on #2153
Ah yes that makes sense, thanks for the info @hsheth2!

I've followed your instructions and can confirm that Datahub is able to access BigQuery now. Nice work!

Unfortunately I'm getting another error during the ingestion of data from the BigQuery sink. I think this is related to a table that has repeated, nested datatypes. Should I open a new issue?

Log snippet:
[code]

[2021-03-03 20:48] hsheth2 commented on #2153
Yes this does look like a separate issue. Might be related to the JSON type - what does your BigQuery schema look like?

[2021-03-03 20:54] user5651 commented on #2153
Similar to the standard GCP usage tables:
[code]

[2021-03-03 22:12] hsheth2 commented on #2153
@user5651 thanks for sending that along. I just pushed an tiny update to that branch which should fix it.

Can you try running `git pull` and then retry the ingestion?

[2021-03-04 03:49] #2153 closed

[2021-03-04 03:51] #2037 closed

[2021-03-04 06:12] shirshanka opened #2170 "Support data replay + data scan capabilities on metadata in DataHub"
**Is your feature request related to a problem? Please describe.**
Data Replay is not trivial in DataHub.

There must be a better way.

**Describe the solution you'd like**
Support a mechanism to "backfill" all derived indexes (ES + neo4j) without affecting the live stream.
The same mechanism should support scanning the metadata snapshot for any other processing needs.

**Solution ideas**
Could be

[2021-03-04 10:11] user5651 commented on #2153
@hsheth2 Nice! Confirming your fix works. Thanks for all the help on this!

[2021-03-08 02:04] #2101 closed

[2021-03-08 08:58] #2100 closed

[2021-03-08 18:38] #1779 closed

[2021-03-09 08:39] thomasplarsson opened #2198 "datahue-mae-consumer doesn't start up when running ./docker/dev.sh"
**Describe the bug**
After the recent PR https://github.com/linkedin/datahub/pull/2189 was merged, the datahub-mae-consumer fails to start because it can't find the SSLContext bean.

**To Reproduce**
Steps to reproduce the behavior:
1. Clean checkout of master
2. ./gradlew build
3. cd docker && ./dev.sh
4. Check logs of mae-consumer which shows this:

[code]
**Expected behavior**
The development e

[2021-03-09 17:59] #2198 closed

[2021-03-09 18:04] shirshanka commented on #1743
Filing this away as closed with the new typed python ingestion framework.
https://datahubproject.io/docs/metadata-ingestion

Not perfect yet (is anything ever? :)), but at least hopefully not unclear and hard to use anymore.

[2021-03-09 18:04] #1743 closed

[2021-03-09 18:47] gabe-lyons opened #2200 "Browse pagination not limiting responses from graphql"
**Describe the bug**
Browse pages always display all the results on the first page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a browse path with more than the `RESULTS_PER_PAGE` as defined in `conf/Browse.tsx` (default is 10).
2. Verify that more than `RESULTS_PER_PAGE` are shown

**Expected behavior**
Only `RESULTS_PER_PAGE` items are shown with pagination pills filled out.

[2021-03-09 21:30] thomasplarsson commented on #2129
@dexter-mh-lee Here is what we talked about. I've regression tested this by building locally, running docker/dev.sh and docker/ingestion/ingestion.sh and verified in the gui. But please if you can verify as well that would be great as I am not eager to break master twice in under 48 hours.

[2021-03-10 06:42] #2129 closed

[2021-03-10 18:24] jplaisted commented on #2162
We do tag the docker images. We should probably have a more regular release cadence, but when we make a release they are tagged. You should be able to depend on these versions directly.

https://hub.docker.com/r/linkedin/datahub-frontend/tags?page=1&ordering=last_updated

[2021-03-10 20:38] shirshanka opened #2206 "Create 0.7.0 release"
It's been a while since we've cut a release, and a lot of new changes have happened.
Filling an issue to draft a new release.

[2021-03-10 20:49] shirshanka commented on #2162
Closing this, now that @dexter-mh-lee 's PR is in.
Tags for dockerhub: https://hub.docker.com/r/linkedin/datahub-gms/tags?page=1&ordering=last_updated
You'll always have latest, and you'll additionally have the sha-short-hash

Tags for github docker: https://github.com/linkedin/datahub/packages/341715/versions
You'll always have latest, and you'll additionally have the sha-short-hash

[2021-03-10 20:49] #2162 closed

[2021-03-10 20:52] shirshanka commented on #2206
Current Goals:
1. Get Tags feature in fully
2. Migrate to ES-7

[2021-03-10 21:03] jplaisted commented on #2162
Ah, ok, that makes sense. Thanks @shirshanka and @dexter-mh-lee !

[2021-03-10 21:04] thomasplarsson opened #2208 "Add option to do early skips of complete schemas when ingesting from rdbms-like sources"
**Is your feature request related to a problem? Please describe.**
There may be situations where a database contains over a thousand schemas, each with a fair number of tables in it.
When ingesting metadata from such a source, if only a few schemas are interesting, it would be nice to not have to wait for
the extra 1000 calls to the database to fetch table information that will not be used.

**Des

[2021-03-10 22:49] shirshanka opened #2210 "Migrate master to Elasticsearch-7"
Based on polling the community, no one seems to have hard production dependencies on Elastic-5.
Filing this issue to migrate master to the elastic-7 changes that have already been tested out in production at LI.

Some mitigation:
1. We will create an es-5 branch, just in case someone wants to stay on it
2. We will provide a "use-at-your-own-risk" migration guide based on scripts that have worked f

[2021-03-10 23:02] jplaisted commented on #2210
@dexter-mh-lee will create the migration guide, then we can swap master and the `es-7-support` branch.

[2021-03-11 00:54] gabe-lyons opened #2211 "feat(react): Ability to configure custom menu options in the main dropdown menu"
**Describe the solution you'd like**
The dropdown should be easily configurable the same way theming is done in react

**Describe alternatives you've considered**
Alternatively, we could make these menu items server-driven. However, that seems to add an extra, unnecessary layer of indirection since we don't imagine these will be dynamic.

[2021-03-11 08:08] #2208 closed

[2021-03-11 15:43] pedro93 opened #2214 "Expose operational metrics"
**Is your feature request related to a problem? Please describe.**
Once datahub is deployed, regardless of method (docker-compose, K8s, bare-bones, etc...) there is no way to obtain metrics & alerts related to the health of the deployed components.
I.e: There is no endpoint I can poll to retrieve the health of GMS. Should it fail, I have no way to automate alerts to notify me.

**Describe the solu

[2021-03-11 21:26] fabiofilz opened #2225 "AWS MSK - Error too many colons in address"
**Describe the bug**
We are migrating to AWS MSK and gms, mae and mce are returning the errors below:

The MSK has 3 brokers so the kafka.bootstrap.server needs to contain the list of all brokers.

2021/03/11 20:23:16 Problem with dial: dial tcp: address b-1.msk-cluster-pt.c2.kafka.eu-central-1.amazonaws.com:9094,b-3.msk-cluster-pt.c2.kafka.eu-central-1.amazonaws.com:9094,b-2.msk-cluster-pt.c2.kaf

[2021-03-12 16:39] andfadeev commented on #2225
Hi, I was able to connect to MSK recently, just used a single broker url: ex. b-1.msk-cluster-pt.c2.kafka.eu-central-1.amazonaws.com:9094
for certs there is envs like: SPRING_KAFKA_PROPERTIES_SSL_TRUSTSTORE_LOCATION, SPRING_KAFKA_PROPERTIES_SSL_KEYSTORE_LOCATION etc

[2021-03-12 17:48] fabiofilz commented on #2225
Hi @andfadeev,

Thanks for your suggestion.

I did in this way as well, but all requests are going to the same LB. It would be good to have more than one in case there is an issue with this LB.

Did you manage to use the extraEnvs? I tried to use extraEnvs (helm charts), but it is not working.

[2021-03-12 18:22] dexter-mh-lee commented on #2225
Hi I created a PR to fix the issue. The start script was not handling comma separated list of brokers well. Thanks for flagging!

[2021-03-12 19:26] #2225 closed

[2021-03-15 10:57] shakti-garg commented on #2214
Agree for need of exposing JMX/Prometheus(which is widely used nowadays) metrics. For MCE and MAE, it is pretty-much out-of-box using Spring actuator APIs. For GMS also, can also be done using JMX exporter.

In case you agree it to be relevant for datahub, happy to contribute to this feature.

[2021-03-15 16:24] rbart commented on #2089
I'm running into what I believe to be the same issue. My steps to repro are identical to @tekamara.

Here are some relevant logs:
[code]

`docker container ls` gives the following:
[code]

what else can I provide that would be helpful?

[2021-03-15 16:29] pedro93 commented on #2214
I think it is very relevant but I'm not a maintainer or contributor to the overall project. I simply created this issue as a request from a slack thread in the official channel.

[2021-03-15 19:08] rbart commented on #2089
It looks like this solved the issue for me: https://github.com/linkedin/datahub/pull/2237

@tekumara can you confirm?

[2021-03-18 22:29] cvrnogueira opened #2257 "Entity metrics feature date"
Hello!  :)

Is there any idea of when the metric feature entity will be available, as described [here](https://github.com/linkedin/datahub/blob/master/docs/features.md)? I am very interested in trying out!

Thank you

[2021-03-18 22:33] shirshanka commented on #2257
@cvrnogueira Thanks for asking! We don't have this on our short-term roadmap (https://datahubproject.io/docs/roadmap) mainly because we didn't find any open source metrics framework / tool that would be good to build an integration with.

Is there a specific tool or framework where you are defining your metrics?

[2021-03-18 23:21] cvrnogueira commented on #2257
Hello @shirshanka , thank you for your reply! Actually I have not found an open source framework either! Today the metrics I am studying as use cases are mostly documented in static documents and being defined based on the queries that are build to run this metrics. We can chat more about this tomorrow!

[2021-03-19 11:24] thomasplarsson opened #2265 "Enable React frontend to use SSL when talking with GMS"
**Is your feature request related to a problem? Please describe.**
Our deployment model require encrypted communication between services. This is capacity is missing between the react frontend and the gms.

**Describe the solution you'd like**
It should be possible to configure the react frontend to use SSL when talking to GMS.

**Describe alternatives you've considered**
In our case, there are no

[2021-03-19 23:07] hsheth2 opened #2271 "datahub-frontend: outdated results from getAllUserEntities"
**Describe the bug**
The `/api/v1/party/entities` endpoint returns incorrect/outdated results.

**To Reproduce**
Steps to reproduce the behavior:
1. Ingest a user entity
2. Call the `/api/v1/party/entities` endpoint and see the correct results
3. Ingest another user entity (I did this via Kafka whereas the first was via rest - not sure if this is a factor)
4. Call the `/api/v1/party/entities` endp

[2021-03-22 02:29] knightchong opened #2272 "NEO4J_HOST configuration error in the docker configuration of datahub-mae-consumer"
**Describe the bug**
NEO4J_HOST configuration error in the docker configuration of datahub-mae-consumer

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'datahub/docker/datahub-mae-consumer/env/docker.env'
2. Click on 'docker.env'
3. Scroll down to 'NEO4J_HOST=http://neo4j:7474'
4. The correct NEO4J_HOST configuration is neo4j:7474 instead of http://neo4j:7474

Looking forward to your r

[2021-03-22 05:50] knightchong opened #2273 "elasticsearch failed to start"
elasticsearch failed to start

 kibana                    | {"type":"log","@timestamp":"2021-03-22T05:38:48Z","tags":["warning","elasticsearch","data"],"pid":6,"message":"Unable to revive connection: http://elasticsearch:9200/"}
kibana                    | {"type":"log","@timestamp":"2021-03-22T05:38:48Z","tags":["warning","elasticsearch","data"],"pid":6,"message":"No living connections"}
datahub-

[2021-03-22 19:03] frsann opened #2275 "MCE Consumer swallows errors about misconfigured MCE events"
**Describe the bug**
Sending a "bad" MCE to the MCE consumer doesn't show up in the logs in a clear way. For example, sending a message where the key is avro serialized we see no indication of any problems in the MCE Consumer logs. After enabling debug logs, we see logging like:
[code]
which might indicate that the message never actually arrives at the `MetadataChangeEventsProcessor.consume` funct

[2021-03-22 23:49] shirshanka commented on #2210
Resolved via #2263

[2021-03-22 23:49] #2210 closed

[2021-03-22 23:50] shirshanka commented on #2206
Closed via https://github.com/linkedin/datahub/releases/tag/v0.7.0

[2021-03-22 23:50] #2206 closed

[2021-03-22 23:52] shirshanka commented on #2273
@knightchong : Did you try the debugging guide here? https://datahubproject.io/docs/debugging

[2021-03-22 23:52] shirshanka commented on #2211
Closed via #2250

[2021-03-22 23:52] #2211 closed

[2021-03-22 23:53] shirshanka commented on #2089
Closing as this seems to have been resolved via #2237.
@tekumara : please reopen if this is still a problem for you.

[2021-03-22 23:53] #2089 closed

[2021-03-22 23:54] shirshanka commented on #2051
Closing as we will not be fixing issues in the Ember frontend going forward.

[2021-03-22 23:54] #2051 closed

[2021-03-23 01:00] knightchong commented on #2273
The elasticsearch container did not start successfully
Below is the running container

CONTAINER ID        IMAGE                                         COMMAND                  CREATED             STATUS              PORTS                                                      NAMES

4478712fbe9f        linkedin/datahub-mce-consumer:latest          "/bin/sh -c /datahub…"   16 hours ago        Up 18

[2021-03-23 01:01] knightchong commented on #2273
The elasticsearch container did not start successfully
Below is the running container

CONTAINER ID        IMAGE                                         COMMAND                  CREATED             STATUS              PORTS                                                      NAMES

4478712fbe9f        linkedin/datahub-mce-consumer:latest          "/bin/sh -c /datahub…"   16 hours ago        Up 18

[2021-03-23 05:13] shirshanka opened #2280 "Implement a connector for MongoDB"

[2021-03-23 05:29] knightchong opened #2281 "Hive metadata does not display comments"
Hive metadata does not display comments

![image](https://user-images.githubusercontent.com/38711439/112097909-d5714100-8bdb-11eb-969a-4b18f0a932e2.png)

[2021-03-23 06:17] shirshanka opened #2282 "fix(ingest): Replace custom pybigquery version with published pybigquery version"
#2279 introduces a dependency on a custom pybigquery version in order to get description extraction working.

Filing this issue to track moving this to a published version after the changes are published upstream.

[2021-03-23 06:23] #2265 closed

[2021-03-23 14:33] jjoyce0510 commented on #2281
Hi @knightchong! A couple questions:

1. Are you ingesting from Hive using the ingestion framework?
2. Which metadata would you expect to show in the description? I'm assuming the Hive column comments? (Result of "describe <tablename>")

[2021-03-23 14:35] jjoyce0510 commented on #2273
Please try to bump your Docker settings to permit 8GB of ram... If the elastic container doesn't have enough it will have trouble starting. Here are my Docker resource settings for reference:

<img width="1246" alt="Screen Shot 2021-03-23 at 7 35 15 AM" src="https://user-images.githubusercontent.com/17549204/112163555-63343880-8baa-11eb-9d8d-bef02600ed76.png">

[2021-03-23 14:48] jjoyce0510 commented on #2200
Is this still broken @gabe-lyons ?

[2021-03-23 14:55] jjoyce0510 opened #2285 "React App: Unclear when there are no browsable entities"
**Is your feature request related to a problem? Please describe.**
When you browse an entity type and there are no results, the UI doesn't indicate this clearly.

**Describe the solution you'd like**
When there are no browsable entities, tell the user immediately (or don't show a browse card at all on the homepage)

**Describe alternatives you've considered**
None

**Additional context**
![Screen

[2021-03-23 17:17] gabe-lyons commented on #2200
@jjoyce0510 I just tried to reproduce and it appears to be working. Let me close this for now.

[2021-03-23 17:40] #2275 closed

[2021-03-23 17:40] frsann commented on #2275
Stupid user error

[2021-03-23 18:24] hsheth2 commented on #2271
I was using it to check that data was ingested correctly

Perhaps we should update the [docs](https://github.com/linkedin/datahub/blob/master/datahub-frontend/README.md#getting-all-users) with a reference to the v2 API?

[2021-03-24 01:56] knightchong commented on #2281
hi @jjoyce0510
1.Yes, I use ingestion framework to import metadata into datahub,But the comment of the hive table is not shown in the description

2.The comment of the hive table is not displayed here

![image](https://user-images.githubusercontent.com/38711439/112242370-afed4180-8c86-11eb-9acd-4c1fe29fe009.png)

![image](https://user-images.githubusercontent.com/38711439/112242555-0b1f3400-8c87-1

[2021-03-24 03:15] #2280 closed

[2021-03-24 04:57] hsheth2 commented on #2281
This seems like an issue in the underlying `PyHive` library. Specifically, it's not populating the "comment" field: https://github.com/dropbox/PyHive/blob/master/pyhive/sqlalchemy_hive.py#L326.

[2021-03-24 05:24] knightchong opened #2292 "how to import metadata into datahub except ingestion method"
hi everyone
Now I have a question to ask everyone, how to import metadata into datahub except ingestion method,Thanks everyone for helping

[2021-03-24 05:55] hsheth2 commented on #2292
Hi @knightchong! You can use the emitter APIs to push metadata into datahub - there’s a bit of documentation here: https://datahubproject.io/docs/metadata-ingestion#using-as-a-library.

[2021-03-24 06:05] knightchong opened #2293 "How to solve abnormal datahub-gms startup"
datahub-gms startup is abnormal

![image](https://user-images.githubusercontent.com/38711439/112263230-eee0be80-8ca9-11eb-8ff2-5602a3f11f10.png)

[2021-03-24 13:41] shakti-garg opened #2294 "Ability to override consumer group id for kafka listener in MCE and MAE consumers"
**Is your feature request related to a problem? Please describe.**
In our kafka platform, consumer group id has to follow a defined format in order to support administrative aspects. In the LDH code, consumer-group-id is same as id of kafka listener container(spring's default behaviour), which in turn is hardcoded.

**Describe the solution you'd like**
provide an option to override using environme

[2021-03-24 21:08] hsheth2 commented on #2293
This should be fixed by #2291. Let me know if the issue persists.

[2021-03-25 10:56] liqi444 opened #2299 "build datahub failed"
hi everyone
i got build failed when i run ./gradlew build in idea terminal
i donot know why

18:15:10: Executing task 'build'...

Configuration on demand is an incubating feature.

There are 21 data schema input files. Using input root folder: D:\workspace\datahub-master\li-utils\src\main\pegasus
Exception in thread "main" java.nio.file.InvalidPathException: Illegal char <:> at index 197: D:\works

[2021-03-26 06:54] shakti-garg opened #2301 "feat(kubernetes): Add kubernetes hook for elasticsearch-setup"
**Is your feature request related to a problem? Please describe.**
The proposal is to run elasticsearch-setup as a pre-hook to the LDH helm chart.

**Describe the solution you'd like**
Add a pre-install and upgrade batch k8s job for elasticsearch-setup.

[2021-03-26 21:42] shirshanka commented on #2299
Hi @liqi444 unfortunately DataHub does not build on windows. You would have to use a Linux environment such as [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) to build it.

[2021-03-26 21:43] shirshanka commented on #2292
Hi @knightchong did that resolve your question?

[2021-03-27 01:53] liqi444 commented on #2299
thank you !

[2021-03-27 01:53] #2299 closed

[2021-03-27 06:06] tekumara commented on #2273
Same issue here. My elasticsearch container logs when running with 6GB RAM:

[code]

So I bumped up to 8GB RAM and now see:

[code]

[2021-03-27 06:13] tekumara commented on #2273
Here are the volume mounts on my container (I'm running on macOS):
[code]

[2021-03-28 03:24] #2294 closed

[2021-03-29 19:41] #2301 closed

[2021-03-30 03:30] liqi444 opened #2309 "run datahub ingest failed"
hi everyone
i got failed when i run "datahub ingest -c ./examples/recipes/mysql.yml".help me please,thanks
debug log :
  {datahub.entrypoints:64} - Using config: {'source': {'type': 'mysql', 'config': {'username': 'root', 'password': 'root', 'database': 'mydatebase', 'host_port': 'localhost:3307', 'table_pattern': {'deny': ['performance_schema'], 'allow': ['mydatebase.my_table']}}}}

message:
1 va

[2021-03-30 03:41] hsheth2 commented on #2309
Hi @liqi444 - you'll need to add a sink to your recipe configuration as well - see these docs: https://datahubproject.io/docs/metadata-ingestion/#sinks.

For example, if you started DataHub using the quickstart guide, you might do this:
[code]

[2021-03-30 04:52] shakti-garg opened #2310 "feat(es-setup): compare-update-reindex if index already exists"
**Is your feature request related to a problem? Please describe.**
If we have some index updates in a new release, current setup script doesn't do anything as index already exists and by default, it doesn't update it. It returns with a 400 message "index already exists"
[code]
**Describe the solution you'd like**
1. check if index exists or not
2. If not, create the index
3. if exists, compare the

[2021-03-30 05:16] shirshanka opened #2311 "Tags applied to schema fields are not indexed"
Reporting on behalf of a community member.

**Describe the bug**
I was trying to use the latest tagging feature introduced in v7. Wanted to check whether the tag indexing is done both on the dataset level as well as on the attribute level?
I applied the same tag on both dataset and attribute. But when I searched with tag filter, it returned just the dataset linked to it. This states the indexing h

[2021-03-30 07:15] #2309 closed

[2021-03-30 07:16] liqi444 commented on #2309
thank you

[2021-03-31 05:03] #2214 closed

[2021-03-31 15:34] gabe-lyons commented on #2200
Reopening this issue- I was able to reproduce the problem. When on a leaf node, pagination works. However, on a node in the middle of the browse path, pagination does not work.

[2021-04-01 05:33] empiricalZone opened #2326 "data-source-onboarding.md has broken links. Could not find ETL examples."
**Describe the bug**
Most of the links to this page
https://github.com/linkedin/datahub/blob/master/docs/how/data-source-onboarding.md

are broken and I get 404 Page not found.

In particular, I could not find the linked examples to :

- hive-etl
- mysql-etl
- rdbms-etl

I could not find them at all in the master branch
https://github.com/linkedin/datahub/tree/master/metadata-ingestion

Where are

[2021-04-01 05:37] hsheth2 commented on #2326
That doc is outdated - you're probably looking for this: https://datahubproject.io/docs/metadata-ingestion

I'll leave this issue open so we can update/remove the outdated doc

[2021-04-03 18:17] #2310 closed

[2021-04-04 14:53] SemanticBeeng commented on #581
Discussion in slack https://datahubspace.slack.com/archives/CUMUWQU66/p1617211779054300?thread_ts=1617189684.051700&cid=CUMUWQU66

[2021-04-06 13:03] thomasplarsson opened #2342 "Kafka ingestion handles nullable fields incorrectly"
**Describe the bug**
When ingesting metadata about kafka topics, the information on whether a field is nullable or not is incorrectly calculated based on whether the type of the field is "null" instead of whether the field has the "has_default" property set to true or false.

This can also cause the ingestion to crash, since the current "null" comparison throws an exception for the field types Pri

[2021-04-06 18:10] gabe-lyons opened #2344 "Support categorization of tags"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to group tags together. For example: I may want to distinguish tags that indicate quality from tags that classify a data type.

**Describe the solution you'd like**
Modelling:
- Create a tag category concept
- Add a property to tags that lets tags be linked to a tag category
- Index tag <> tag category re

[2021-04-06 18:41] shtusha commented on #2344
In my opinion tag categories/groups/types is something that users don't get to control via UX... they only get to assign them to tags in UX a list of categories should be predefined especially since categories are be mapped to styles in UI.

[2021-04-07 06:23] Kipkurui-mutai opened #2354 "Jobs."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to apply for a job and I see someone has already been promoted but it is still on your open jobs list.

**Describe the solution you'd like**
Is it possible for you to just put open jobs and the ones people have been promoted or chosen for the job to be removed in real time.

**Describe alternatives

[2021-04-07 08:03] luojq661 opened #2355 "Can't search any datasets at front page"
Hi All:
   I follow the quick start and start up the application successfully. When ingest my own data through ingestion framework, I got some error log about elasticsearch, but mysql ingest successfully. And there is no data to show on the front page.
I have no clue about this and need your help.

Here id the elasticsearch error log
[code]

Data has been loaded into MySQL
[code]

But no data in `

[2021-04-08 06:36] thomasplarsson opened #2363 "Kafka ingestion does not handle map and boolean avro types"
**Describe the bug**
The translation logic between avro and datahub types does not handle the "map" and "boolean" avro types.

**To Reproduce**
1. Call datahub.ingestion.extractor.schema_util.avro_schema_to_mce_fields() with this argument
[code]
2. An exception is raised
`TypeError: 'NoneType' object is not callable`

**Expected behavior**
A list of SchemaFields should be returned.

**Screenshots*

[2021-04-08 21:00] #2342 closed

[2021-04-08 21:27] shirshanka commented on #2292
Resolving this question since I believe this was answered.

[2021-04-08 21:27] #2292 closed

[2021-04-08 21:28] shirshanka commented on #2355
@luojq661 : Your elasticsearch indexes are probably unhealthy.
https://datahubproject.io/docs/debugging#how-can-i-confirm-if-all-docker-containers-are-running-as-expected-after-a-quickstart
Can you run `datahub check local-docker` and post your result here?

[2021-04-09 06:38] thomasplarsson opened #2371 "Kafka ingestion crashes if top level type is not a "record" type."
**Describe the bug**
If the avro schema for a kafka topic is not a RecordSchema, the ingestion framework throws an exception when trying to ingest metadata about that topic.

**To Reproduce**
Steps to reproduce the behavior:
1. Call datahub.ingestion.extractor.schema_util.avro_schema_to_mce_fields() with this argument:
[code]
2. An exception is raised.
`AttributeError: 'PrimitiveSchema' object has

[2021-04-09 10:11] luojq661 commented on #2355
@shirshanka : Thank you for your reply.
There is result after run `datahub check local-docker`

[code]

What else you need, please let me know.

[2021-04-09 11:32] shubham49 opened #2374 "User ownership view is not visible"
**Describe the bug**
User ownership view is not visible at https://demo.datahubproject.io/user/urn:li:corpuser:Google

**To Reproduce**
Visit link https://demo.datahubproject.io/user/urn:li:corpuser:Google

**Expected behavior**
Should show datasets linked to user 'Google'

**Screenshots**
![image](https://user-images.githubusercontent.com/10528953/114173829-658de500-9955-11eb-9f0c-7613c8ebad45.pn

[2021-04-09 11:45] iremi opened #2375 "Issue with running acryl-datahub"
After setting up Datahub with a docker and having it run normally, I'm having issues with setting up the python package acryl-datahub.
I successfully install it with pip but after running `datahub` and `python -m datahub` I get the error
`No module named datahub.__main__; 'datahub' is a package and cannot be directly executed`

I also tried installing it through a venv [with these instructions](ht

[2021-04-09 18:22] hsheth2 commented on #2375
Hi @iremi - thanks for reporting this! The PR (#2359) that added support for that just got merged the other day, and we hadn't published a new version to PyPI.

I've gone ahead on published a new version manually, so it should start working after you update by running `python -m pip install --upgrade acryl-datahub`. Let me know if you have any further issues 🙂

[2021-04-09 20:08] gabe-lyons opened #2378 "Descriptions with long single words overflow schema table"
**Describe the bug**
When a description contains a very long single word, it is not broken onto another line.

**To Reproduce**
- Create a description that is a single word with 500 characters

**Expected behavior**
The word should be broken onto new lines

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS:

[2021-04-10 00:33] #2326 closed

[2021-04-10 00:36] #2371 closed

[2021-04-10 08:27] #2374 closed

[2021-04-12 07:07] iremi commented on #2375
Thank you for the quick response. I'll check and close the issue once I can check on the target system.

[2021-04-12 07:50] bobliugq opened #2381 "how to make metadata ingestion from clickhouse"
I want to use clickhouse as source data to import dataHub? Someone can Help?

[2021-04-12 13:21] iremi commented on #2375
After upgrading to v0.1.0 and running python3 -m datahub version I get the following error:

Traceback (most recent call last):
  File "C:\Python\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Python\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Python\lib\site-packages\datahub\__main__.py", line 1, in <module

[2021-04-12 20:30] hsheth2 commented on #2375
Really interesting - seems like a bug in Python on windows: https://bugs.python.org/issue36759.

I'll try to figure out a solution or workaround.

[2021-04-13 00:13] hsheth2 commented on #2381
Hi @bobliugq - once #2389 is merged in, you should be able to easily define a custom SQL-based source.

For clickhouse, you can combine https://github.com/xzkostyan/clickhouse-sqlalchemy with a fairly simple config to make it work. Let me know if you run into any issues.

[2021-04-14 14:08] thomasplarsson opened #2394 "Make FabricType configurable for various ingestion sources"
**Is your feature request related to a problem? Please describe.**
Several of the existing ingestion sources hardcode the origin (FabricType) part of a dataset URN to "PROD".

**Describe the solution you'd like**
The environment/origin/fabrictype should be configurable.

**Describe alternatives you've considered**
Making custom variants of a source just for this makes no sense.

**Additional conte

[2021-04-15 06:41] bobliugq commented on #2381
Thanks for you help! But I could not find the plugins of sqlalchemy when I finished updated datahub(version 0.1.1)

Command I use:
pip install 'acryl-datahub[sqlalchemy]'

Warning Information:
WARNING: acryl-datahub 0.1.1 does not provide the extra 'sqlalchemy'

[2021-04-15 11:42] iremi commented on #2375
I made the change outlined in [#2403](https://github.com/linkedin/datahub/pull/2403) and can now run the datahub command!
Thank you for your help.

[2021-04-15 17:47] #2394 closed

[2021-04-15 18:01] hsheth2 commented on #2375
Awesome!

[2021-04-15 18:03] hsheth2 commented on #2381
Just uploaded the new version to PyPI - https://pypi.org/project/acryl-datahub/0.1.2/

Can you try re-running `pip install --upgrade 'acryl-datahub[sqlalchemy]'` - it should get version 0.1.2

[2021-04-16 03:43] bobliugq commented on #2381
Unfortunately! I got same warning when I update my dataHub to version 0.1.2.

Warning Information:
WARNING: acryl-datahub 0.1.2 does not provide the extra 'sqlalchemy'

[2021-04-16 06:30] hsheth2 commented on #2381
Ah I missed a line - sorry about that! I made a quick PR (#2409) to fix that.

In the meantime, you can manually install it by running `pip install sqlalchemy` as well, and then `datahub check plugins` should show sqlalchemy as enabled.

[2021-04-16 08:55] thomasplarsson opened #2410 "Add transformation step to ingestion pipeline"
**Is your feature request related to a problem? Please describe.**
Currently the ingestion pipeline consists of sources that produce MetadataChangeEvents and sinks which consume them. With these blocks it’s possible to extend the ingestion framework by writing custom variants of them. Typically this is done when there is a source from which data is needed but for which there isn’t an existing plug

[2021-04-16 10:31] iremi commented on #2375
I have bad news. After making the changes ([#2403](https://github.com/linkedin/datahub/pull/2403)) I can indeed get the datahub command working but **DataHub on http://localhost:9002 becomes unreachable.**

I nuked my entire datahub docker containers, set everything up again and confirmed that it was reachable until changing the logical.py. After the change and restarting the Datahub docker contai

[2021-04-16 18:59] #2375 closed

[2021-04-18 18:15] #2410 closed

[2021-04-19 05:05] kevinhu opened #2416 "Issues when running quickstart on Apple silicon"
**Describe the bug**
When running the quickstart on a MacOS machine with the M1 chip, there are a few problems:
1. arm64 images aren't found by default for mysql, neo4j, and kibana. This can be fixed by manually specifying compatible ones (i.e. commenting out kibana, using `arm64v8/mariadb` for mysql, and `neo4j/neo4j-arm64-experimental:4.2.5-arm64` for neo4j).
2. zookeeper and schema-registry cra

[2021-04-19 19:29] mhaley-miovision opened #2420 "User Profile Editing"
**Is your feature request related to a problem? Please describe.**
The old emver UI allowed you to edit your own profile to add things like skills, teams and a summary of yourself to your profile. These are all nice features to have in a data catalogue, and makes it easier for the users to network with eachother.

**Describe the solution you'd like**
Creat an edit user profile page in the react fr

[2021-04-20 08:48] luojq661 commented on #2355
I found the reason, RAM is set too small

[2021-04-20 08:48] #2355 closed

[2021-04-21 03:49] yongyct opened #2428 "How can I add custom key-value pairs tags/metadata to each field in my dataset"
I have a requirement to add custom key-value pairs tags to each field in my dataset.

E.g.
I have a BigQuery Table named (Users), with fields of (Name, ID, Phone Number, etc.)
I would like to tag each field with custom key-value pair tags (e.g. tag Phone Number with "{PII: true, Source_System: abc, Length: 100, Nullable: true, Last_Update_Date: somedate, Last_Update_By: someone, Last_Update_Value:

[2021-04-21 11:07] iremi opened #2430 "Persistent error when ingesting json with rest"
When I try to ingest a json file with datahub-rest I get the following error:
[code]

The error is : _**every mce must have at least one aspect**_
I'm not sure what this is pointing to. I have tried with different simple json files and always had the same result.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare the following yml file:

[code]
2. The json file can be found here: https:

[2021-04-21 17:42] hsheth2 commented on #2430
Hi @iremi - the json file needs to be formatted as a list of metadata change events. See https://github.com/linkedin/datahub/blob/master/metadata-ingestion/examples/mce_files/bootstrap_mce.json for an example.

[2021-04-21 18:17] adriaanslechten opened #2432 "Ingesting groups to LDAP source for metadata-ingestion."
We would like to ingest LDAP groups using the metadata-ingestion library.
For this, a small addition is needed to the code.

[2021-04-22 06:25] akbar-septriyan-acn opened #2437 "How to setup datahub user account"
Hi, how to create or setup a datahub account so that I can logged in?
![image](https://user-images.githubusercontent.com/80252898/115665577-af22fa80-a36d-11eb-9ebd-4705646ed7f9.png)
I couldn't find way to do it in datahub docs (https://datahubproject.io/docs/)

Thanks

[2021-04-22 07:06] hsheth2 commented on #2437
The default username is `datahub` with any password (no password validation by default)

Are you following the quickstart guide https://datahubproject.io/docs/quickstart?

[2021-04-22 07:33] thomasplarsson opened #2439 "Add custom properties to Dashboards"
**Is your feature request related to a problem? Please describe.**
Dashboard sources such as Qliksense applications often come with a set of key-value properties on them which would be nice to have in DataHub. This seems missing at the moment.

**Describe the solution you'd like**
Support for custom properties, similar to how it exists for Datasets already.

**Describe alternatives you've consider

[2021-04-22 07:51] iremi commented on #2430
I see. Thank you for the answer.
When I try pushing bootstrap_mce.json, I get `Pipeline finished with failures` and the following error:
[code]

Also, I can't seem to find the data that has been pushed successfully here in DataHub.
I don't have this issue with mssql or AWS data that I push and find in datahub without issue.

[2021-04-22 08:00] akbar-septriyan-acn commented on #2437
Hi @hsheth2,
I've tried to use `datahub` user but it still can't login.
Nope, I am not following the quickstart guide, actually I am deploying datahub in kubernetes based on this guide
https://github.com/linkedin/datahub/tree/master/contrib/kubernetes

[2021-04-22 09:25] akbar-septriyan-acn commented on #2437
Hi @hsheth2
Here is the log from datahub-frontend pods
![datahub-datahub-frontend](https://user-images.githubusercontent.com/80252898/115690300-1f8a4580-a387-11eb-97af-7917756eea85.png)
and here is the log from datahub-gms pods
![datahub-datahub-gms](https://user-images.githubusercontent.com/80252898/115690392-3761c980-a387-11eb-89cf-c501037e39d0.png)
Hope this help investigate and resolve the iss

[2021-04-22 19:38] dexter-mh-lee commented on #2437
Hi. Seems like pods didn't fully start up. Can you list the result of running `kubectl get pods` ? Also a full log from GMS would help!

Feel free to join our slack to get more real-time support!

[2021-04-23 03:38] akbar-septriyan-acn commented on #2437
Hi @dexter-mh-lee, sure here is the list of pods
![Screen Shot 2021-04-23 at 10 14 44](https://user-images.githubusercontent.com/80252898/115814718-d0dcba00-a41f-11eb-8af4-22c823c1c263.png)
Please also find the full log from GMS attached
[datahub-gms.log](https://github.com/linkedin/datahub/files/6362560/datahub-gms.log)

Cool! Will check the slack, thank you :)

[2021-04-23 09:03] thomasplarsson commented on #2439
Fixed in https://github.com/linkedin/datahub/commit/851e00ba9fd3ddb8d703007a7c7db02db682d4fb

[2021-04-23 09:17] RickardCardell commented on #2272
Hi
Can you describe the error you receive?
The configuration looks correct. A change was recently made so that the uri-scheme is not hard-coded. I.e one can choose to set either:
`NEO4J_HOST=http://neo4j:7474`
or
`NEO4J_HOST=https://neo4j:7474`

[2021-04-23 11:15] vlavorini opened #2441 "Public view of element in the catalog"
**Is your feature request related to a problem? Please describe.**
As public institution, we also would like to publish some OpenData

**Describe the solution you'd like**
Allow people without authentication to see selected elements (a dataset, a dashboard, etc)

**Describe alternatives you've considered**
Another ad-hoc service.

Also, I see that there are other public institutions that are testi

[2021-04-23 11:47] RickardCardell commented on #2272
If you end up with a strange neo4j host in the terminal like `http://http://neo4j:7474` then your existing Docker containers might be stale. I.e the source code in your local repo is newer than the scripts in the containers.

To solve it you could either pull the latest ones or nuke the state with:
`./docker/nuke.sh`

[2021-04-23 13:16] vlavorini commented on #2273
Same issue here. Ram topped to 10 GB, swap to 2.5 GB, Docker on a mac.

    2021/04/23 12:36:27 Waiting for: http://elasticsearch:9200

    2021/04/23 12:36:27 Problem with request: Get http://elasticsearch:9200: dial tcp: lookup elasticsearch on 127.0.0.11:53: no such host. Sleeping 1s

    2021/04/23 12:36:28 Problem with request: Get http://elasticsearch:9200: dial tcp: lookup elasticsearch on

[2021-04-23 18:20] hsheth2 commented on #2430
Interestingly, I'm unable to reproduce this locally: `datahub ingest -c ./examples/recipes/example_to_datahub_rest.yml` works just fine. Does this happen for you when you run using the datahub-kafka sink?

I know a couple things have changed around our serialization system since the last release of `acryl-datahub` - maybe retry after I upload a new version later today?

[2021-04-23 18:23] hsheth2 commented on #2428
Hi @yongyct - where do you expect those custom key-value pairs to come from? e.g. do you have an external service which can produce those annotations?

[2021-04-23 23:41] gabe-lyons opened #2447 "Entities with long lineage lists cause 414 errors in rest.li"
**Describe the bug**
When an entity attempts to fetch its lineage, datahub-frontend issues a batch-get call to gms with each entity urn in the url.  If the entity has too many downstream or upstream dependencies, this URI can exceed rest.li's limit.

There is a way to send batch gets to rest.li via post:
https://linkedin.github.io/rest.li/Send-Rest_li-Request-Query-In-Request-Body

However, this d

[2021-04-24 12:37] taufiqibrahim opened #2450 "Render URL Link Found in Dataset Description"
**Is your feature request related to a problem? Please describe.**
Some dataset may have URLs inside their description. Such as shown in https://demo.datahubproject.io/dataset/urn:li:dataset:(urn:li:dataPlatform:bigquery,bigquery-public-data.covid19_google_mobility.mobility_report,PROD)/schema

**Describe the solution you'd like**
It would be super helpful if the front end able to render it automa

[2021-04-24 16:43] iremi commented on #2430
Sure, I will retry and let you know.
The sample data from the quickstart also ingests normally (running ./docker/ingestion/ingestion.sh)

[2021-04-25 22:23] jjoyce0510 commented on #2271
Fair point - need to do a pass on this doc for certain. Will do

[2021-04-25 22:25] jjoyce0510 opened #2452 "Cleanup datahub-web references"
**Is your feature request related to a problem? Please describe.**
It's confusing that we have datahub-web and datahub-web-react. Let's remove reference to the deprecated Ember app.

**Describe the solution you'd like**
- remove datahub-web module
- revisit datahub-frontend to remove Ember endpoints
- update documentation in datahub-frontend to reflect changes

**Describe alternatives you've consi

[2021-04-26 08:54] zqw961025 opened #2454 "Can I customize the data model, and if so, how do I do it?"

[2021-04-26 18:44] jjoyce0510 commented on #2454
Hi there! How were you hoping to customize?

Were you looking to:

1. Add new entities? For example, adding a "Stream" Entity
2. Extend existing entities? For example, adding custom fields to the "Dataset" Entity

We are scoping work to make customization of the data model easier. Would love to understand more about your use case!

[2021-04-26 18:50] jjoyce0510 commented on #2432
Hi @adriaanslechten. Thanks for raising this issue. Do you have any interest in contributing the changes to the Metadata Ingestion framework?

[2021-04-26 18:51] jjoyce0510 commented on #2441
Data sharing is an interesting use case!

In my mind, this depends on role-based access control, which is slotted on our Roadmap but has not yet been implemented. Once it is, we can continue to explore this use case!

John

[2021-04-26 19:04] hsheth2 commented on #2432
This was actually merged in #2434 - I guess we just forgot to close this issue

@shirshanka can you close this?

[2021-04-27 01:31] zqw961025 commented on #2454
We might have such a metadata table, how do I define its model?

Name:         hive_table
TypeCategory: Entity
SuperTypes:   DataSet
Attributes:
    name:             string
    db:               hive_db
    owner:            string
    createTime:       date
    lastAccessTime:   date
    comment:          string
    retention:        int
    sd:               hive_storagedesc
    partitionKeys:

[2021-04-27 14:01] adriaanslechten commented on #2432
I think I mistagged the PR, so indeed should be closed.

[2021-04-27 14:20] thomasplarsson commented on #2439
Re-opening since the UI is still lacking support for this feature.

[2021-04-27 14:45] topwebtek7 commented on #2439
@shirshanka sure!

[2021-04-27 15:48] RickardCardell commented on #2439
@topwebtek7 @shirshanka  I got some code ready for a PR

[2021-04-27 23:10] shirshanka commented on #2432
Closed via #2434

[2021-04-27 23:10] #2432 closed

[2021-04-28 03:28] #2437 closed

[2021-04-28 14:52] saxo-lalrishav opened #2471 "not able to add document for a dataset"
**Describe the bug**
Not able to add the document for a particular dataset at [https://demo.datahubproject.io/dataset/urn:li:dataset:(urn:li:dataPlatform:kafka,novelty.hitch.covariant,PROD)/docs](https://demo.datahubproject.io/dataset/urn:li:dataset:(urn:li:dataPlatform:kafka,novelty.hitch.covariant,PROD)/docs)

**To Reproduce**
Steps to reproduce the behavior:
1. First clear the localstorage, coo

[2021-04-28 17:20] hsheth2 commented on #2454
For Hive, you probably want to map those fields to the types of DataHub's dataset entity. Our data model has support for a fair percentage of those fields, and the rest you can keep in the "customProperties" field.

Is there a reason you're looking to extend/customize the data model, versus simply using what's already defined?

[2021-04-29 15:34] gabe-lyons commented on #2378
This has been fixed in #2382.

[2021-04-29 15:34] #2378 closed

[2021-04-30 18:48] gabe-lyons commented on #2200
The issue is caused by GMA not supporting pagination in the ES Browse DAO:

https://github.com/linkedin/datahub-gma/blob/master/dao-impl/elasticsearch-dao-7/src/main/java/com/linkedin/metadata/dao/browse/ESBrowseDAO.java#L72

We pass `from` and `size` to `constructEntitiesSearchRequest` but not to `constructGroupsSearchRequest`. We also do not pass pagination information back to the client with gr

[2021-05-01 04:39] saxo-lalrishav commented on #2471
Closed via #2473

[2021-05-01 04:39] #2471 closed

[2021-05-01 16:34] youngwookim opened #2482 "Metadata ingestion from Trino"
I'm trying to ingest metadata from Trino(f.k.a PrestoSQL) using sqlalchemy and [sqlalchemy-trino](https://pypi.org/project/sqlalchemy-trino/) but I got a `validation error` like following:
[code]

Hope to find out how can I configure the field.

[2021-05-01 20:13] shirshanka commented on #2482
Should be resolved if you provide the value for the `platform` field.

e.g.
source:
   type: sqlalchemy
   config:
         platform: trino
         connect_uri: trino://localhost:18089/tpcds
...

[2021-05-01 20:32] shirshanka commented on #2430
@iremi : were you able to resolve this issue?

[2021-05-02 08:18] iremi commented on #2430
@shirshanka
I will let you know tomorrow. I will edit this post and close the issue if it is solved.

[2021-05-02 18:52] jjoyce0510 commented on #1547
@nagarjunakanamarlapudi Is this ticket still relevant?

What exactly is in scope here?

[2021-05-02 18:54] jjoyce0510 commented on #1556
Hi @keremsahin1.

Is this issue still relevant?

Since the date of opening, we have added formal support for Tags as top-level entities and provide capability to search based on entity-level tag associations.

John

[2021-05-02 18:56] jjoyce0510 commented on #1566
In the latest React application, we are not fetching an entire list of CorpUsers. Migrating to the React app should solve this issue.

Thanks
John

[2021-05-02 18:57] shirshanka commented on #1556
Closing this, since Tags are now supported as a top-level entity.
https://datahubproject.io/docs/features#tags

[2021-05-02 18:57] #1556 closed

[2021-05-02 19:00] shirshanka commented on #1566
Closing this since latest React application doesn't have this issue as stated by @jjoyce0510
Please re-open if you have issues with large number of users in React app.

[2021-05-02 19:00] #1566 closed

[2021-05-02 19:03] jjoyce0510 commented on #1578
Hi there!

@ben5448 We have continued to use the approach ^ to solve these cases, wherein we have a UI-Editable and Non-Editable version of some piece of Metadata. For example, EditableSchemaMetadata.pdl and SchemaMetadata.pdl.

Are there other pieces of information you'd especially like to see this applied to? What I'm reading above is...
- Ownership
- Documentation

Please let us know so we can

[2021-05-02 19:11] jjoyce0510 commented on #1583
cc. @gabe-lyons . This is something we will want to consider for the React UI as well

[2021-05-02 21:06] jjoyce0510 commented on #1682
Wondering if this is still being addressed? If not, can we close due for inactivity?

[2021-05-02 21:09] jjoyce0510 commented on #1686
Not sure if this was addressed in Ember, but the React app shouldn't have this problem. We should recommend migration to React app and close.

[2021-05-02 21:11] jjoyce0510 commented on #1699
@jplaisted Is there updated thinking around this?

[2021-05-02 21:15] jjoyce0510 commented on #1705
@timothy-khom Unfortunately SAML is not yet supported, however we have introduced [support for OIDC](https://datahubproject.io/docs/how/configure-oidc-react/#configuring-oidc-in-react). LDAP support is still limited to JAAS, meaning that you would need to run an LDAP server internally to store record of your users to be used in DataHub

[2021-05-02 21:18] jjoyce0510 commented on #1722
Bumping the thread. Has this been resolved?

[2021-05-02 21:19] jjoyce0510 commented on #1722
cc. @dexter-mh-lee To take a look.

[2021-05-02 21:21] jjoyce0510 commented on #1735
@cobolbaby The latest React UI support visualizing lineage between Datasets, DataJobs, and Dashboards. Does this suffice or are you looking for additional qualification? IE. descriptions on the edges themselves?

[2021-05-02 21:23] jjoyce0510 commented on #1762
Any progress on this one @jplaisted ? Has the thinking evolved?

[2021-05-02 21:26] jjoyce0510 commented on #1785
Interesting. This is something that is not possible in the React UI either. Example: https://demo.datahubproject.io/search/user?page=1&query=harsha vs
https://demo.datahubproject.io/search/user?page=1&query=harshal

@dexter-mh-lee Thoughts on supporting this for user names?

[2021-05-02 21:29] jjoyce0510 commented on #1804
@jplaisted Hi John. I know we've gotten through the splitting of GMA out (bullet one). Is there a plan for the following work? That is, publishing jars for metadata models, builders, etc. as part of the release cycle?

[2021-05-02 21:30] jjoyce0510 commented on #1807
Has this been addressed?

[2021-05-02 21:30] jjoyce0510 commented on #1807
Also, what is the scope of work here?

[2021-05-02 21:32] jjoyce0510 commented on #1813
We've recently [mainlined the Helm Charts](https://github.com/linkedin/datahub/commit/ae4def2f256aac1c652ece4ae17c733fe76c2947) thanks to @dexter-mh-lee.

I think that the Helm charts should now reflect the latest state of DataHub. @dexter-mh-lee to confirm.

If so, we can close the ticket!

[2021-05-02 21:34] jjoyce0510 commented on #1813
@shirshanka Can we close this one? Thanks!

[2021-05-02 21:35] jjoyce0510 commented on #1722
@shirshanka This should have been fixed along with the ES7 migration. Let's close the ticket!

[2021-05-02 21:37] jjoyce0510 commented on #1826
The new React application does not have this link.

@shirshanka Let's close this ticket?

[2021-05-02 21:39] jjoyce0510 commented on #1847
Was there any update on this one?

cc. @gabe-lyons We should also consider this with React, as the same behavior seems to persist. Agree that Data Platform should appear case-correct in the browse experience and beyond.

[2021-05-02 21:43] jjoyce0510 commented on #1887
Curious to understand why one would want to purge a particular aspect, but not an entity?

If its because the data is incorrect, it should suffice to emit a new aspect version that represents a cleanse, right? (ie a new ownership aspect with an empty owners array)

In what cases does this approach _not_ suffice?

[2021-05-03 08:54] iremi commented on #2430
Today I have nuked datahub and set up everything again with the newest versions. The behavior I have described is still the same.
Ingesting bootstrap_mce.json still results in the same error (seen here: https://github.com/linkedin/datahub/issues/2430#issuecomment-824623786).

Another thing I have noticed is that in docker, Ingestion is in the exit state. Picture:
![Capture](https://user-images.git

[2021-05-03 17:05] jplaisted commented on #1762
No, this is something I never really had time to look into. At this point I'll unassign.

[2021-05-03 17:07] jplaisted commented on #1804
I think this stalled a bit due to questions around model federation and the state of the DataHub repo. I'll let the community guide this discussion from here; should we publish artifacts today or wait for some potential larger refactor that may or may not happen?

[2021-05-03 17:08] jplaisted commented on #1807
This has not been addressed. The scope would be making it easier to use the frontend during development with docker; e.g. edit-refresh while using docker. This makes it easy to spin up the entire stack while developing.

[2021-05-03 17:08] #1722 closed

[2021-05-03 17:11] jplaisted commented on #1699
With LI still being on Java 8 I haven't had time to look at this. Though we're going to Java 11 in theory by the end of this quarter... I can revisit this then, unless you want to carry this forward before then. In the meantime we'd still at least need Java 8 compatible GMA libraries.

[2021-05-04 02:57] bboylen opened #2487 "User profile does not update list of entities owned unless manually refreshed"
**Describe the bug**
When the UI is used to remove ownership of an entity for the logged in user, the entity does not disappear from the list of entities owned on the user's profile. The entity does disappear when the webpage is manually refreshed, however.

The same problem occurs when adding ownership of an entity - it doesn't show up until the webpage is refreshed.

**To Reproduce**
Steps to re

[2021-05-04 05:18] shirshanka commented on #1813
@themightylaz : it took us a while but we're finally there :)  Closing this ticket.

[2021-05-04 05:20] shirshanka commented on #2381
@bobliugq : just checking if you were able to get this working.

[2021-05-04 05:31] hsheth2 commented on #2430
@iremi to clarify, are both `datahub ingest -c ./examples/recipes/example_to_datahub_rest.yml` and `ingestion/ingestion.sh` failing? Are they failing with the same error? (a paste of the full logs would be great!)

Could you also elaborate on this bit - are they not visible in the frontend?:

And finally, could you paste the output of `datahub check local-docker`?

[2021-05-04 06:04] jjoyce0510 commented on #2482
Thanks for the quick reply @shirshanka. Can we close the issue?

[2021-05-04 07:23] iremi commented on #2430
1. Ingesting `example_to_datahub_rest.yml`
**Pipeline finished successfully** - cannot find the data in datahub. Full log upon ingestion:
[code]
2. Ingesting `ingestion/ingestion.sh`
Working as intended. I can find the data in datahub.

3. Elaborate on "are they not visible in the frontend?"
After successful ingestion I search for the ingested data in the datahub program and can't find any changes

[2021-05-04 09:18] youngwookim commented on #2482
@jjoyce0510 Will close this shortly.

[2021-05-04 09:18] #2482 closed

[2021-05-04 13:52] RickardCardell opened #2488 "Frontend: search on custom properties"
Are there any plans to make custom properties searchable?

We would like to be able to find entities based their custom properties.
It may be useful to search both for the key of the custom property and a combination of key and value

One idea would be to add search-ability in the existing search box.

Example search on a high level:

Some examples of custom property key-values are:
'owner_system_

[2021-05-05 03:24] hsheth2 commented on #2430
@iremi it seems like things are working as intended. The `example_to_datahub_rest.yml` and `ingestion.sh` scripts use the same underlying data, so nothing new will show up when you run the second one or rerun them. The sample data includes one dataset from hdfs, kafka, and hive, as well as a couple users, pipelines, dashboards, and charts.

[2021-05-05 05:37] dougallaninthecloud opened #2490 "searching for nothing... displays error rather than 0 results"
**Describe the bug**
if the user clicks the search box and then return it seems to run a search and return the following message 'Exception while fetching data (/search) : 'query' parameter cannot be null or empty'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Search bar
2. Hit Return
3. See error

**Expected behavior**
Id expect it to either show all results or 0 results..

**Screen

[2021-05-05 06:59] iremi commented on #2430
I understand now. I have some other questions but I'll open a separate issue.
Thank you for your help.

[2021-05-05 06:59] #2430 closed

[2021-05-05 11:01] iremi opened #2492 "Adding tag, ownership, properties values from yaml files"
If I understand the [documentation](https://datahubproject.io/docs/metadata-ingestion/#transformations) correctly, it says I can add ownership information, tags and properties for inserted data by including a transformers field in the ingested yml files.

For example, I want to try to ingest `bootstrap_mce.json` with an additional tag "testtag". I define my yml file like this:
[code]

Under type I

[2021-05-05 13:29] iremi opened #2494 "Managing access for users"
Is it possible to limit access to certain datasets or data within the application?
For example I'd want for some users to only have access to the data in certain environments (env - "DEV", "EI", "PROD" or "CORP")

Is this functionality already supported?

[2021-05-05 23:12] jjoyce0510 commented on #2490
Thanks for reporting @dougallaninthecloud  - this is definitely a bug!

Let us take care of this. cc. @gabe-lyons @topwebtek7

[2021-05-06 06:15] dougallaninthecloud opened #2504 "Support for accessing Kafka schema registry in Confluent Cloud"
**Is your feature request related to a problem? Please describe.**
Have been spinning up Kafka Cluster and schema registry in Confluent Cloud it seems the broker connection is fine and the topic data is pulled in, but the scheme registry is not authorised... I have looked through the code and it seems there is no support for passing API Key and secret specific for schema registry

**Describe the s

[2021-05-06 06:24] hsheth2 commented on #2504
Hi @dougallaninthecloud, have you tried using the schema registry client's user info option? Here's what the recipe might look like:

[code]

[2021-05-06 15:44] gabe-lyons opened #2506 "Label edited descriptions clearly in the UI"
**Is your feature request related to a problem? Please describe.**
If you see an edited description, the only way to know if it was edited or not is to click the edit icon and compare the current version with the original.

**Describe the solution you'd like**
We should append an _(edited)_ suffix to edited descriptions so that is obvious which descriptions have been edited and which are from the

[2021-05-06 15:58] gabe-lyons opened #2507 "Highlight the column that was matched when arriving on Dataset page via column_name or column_description match"
**Is your feature request related to a problem? Please describe.**
If I search for a column name or description, I will see entities in the results that have columns matching the column name or description. However, especially for large schemas, when I click into the result it may be difficult to find which column I was looking for.

**Describe the solution you'd like**
We should highlight the row

[2021-05-06 18:57] hsheth2 commented on #2492
Hi @iremi - the feature is available right now, but you'd need to write some custom code in order to make it work. Under transformer type, you'd specify the path to the `Transformer` class that you'd like to use.

I'm currently working on building a couple pre-built transformers that will enable setting owners/tags without writing custom code.

[2021-05-07 02:33] xiphl commented on #2494
hi @iremi, I'm just a user on the Datahub Slack channel, but I asked this question a couple of days back and the answer is not at the moment, RBAC is on the development roadmap for this quarter Apr-Jun.

[2021-05-07 02:36] shirshanka commented on #2494
Thanks for responding @xiphl
You are right!
@iremi : Our roadmap is here: https://datahubproject.io/docs/roadmap/
Do drop into our Slack space if you have any further questions at: https://slack.datahubproject.io

[2021-05-07 02:38] shirshanka commented on #2447
Fixed by #2462

[2021-05-07 02:38] #2447 closed

[2021-05-07 07:00] iremi commented on #2494
Thank you very much

[2021-05-07 07:00] #2494 closed

[2021-05-07 07:06] iremi commented on #2492
That's great, thank you for the answer.
If you don't mind me asking: when can I expect these pre-built transformers to be available?

[2021-05-07 13:51] iremi opened #2511 "Json ingestion: including nested array information (without flattening)"
I am ingesting json files which have nested arrays with additional information. Ingesting them only gives me the top level metadata. I want to know if it's possible to also include second level information from the arrays.

For example the following file:
[code]
is ingested to datahub like this
![Capture](https://user-images.githubusercontent.com/25979063/117459230-75e0b200-af4b-11eb-9957-2c3cb0ad

[2021-05-09 23:45] dougallaninthecloud commented on #2504
actually got this working by passing key and token into the url... eg https://key:token@server

[2021-05-09 23:45] #2504 closed

[2021-05-10 06:46] iremi commented on #2511
I have to do this with hundreds of files so I'd prefer to do it with an automated process.
If there's not another way I can always flatten the files.

[2021-05-10 15:02] saxo-lalrishav opened #2518 "[React] Pagination functionality missing in user ownership page"
**Describe the bug**
There is no pagination in user ownership page,  i.e if a user owns more that 10 dataset, still the UI will show only 10 datasets and there is no pagination to view other datasets

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo.datahubproject.io/user/urn:li:corpuser:datahub/ownership/dataset
2. Click on Datasets
3. Observe the result of API call which s

[2021-05-10 15:20] jjoyce0510 commented on #2518
Thanks for reporting!

cc. @gabe-lyons

[2021-05-10 15:23] jjoyce0510 commented on #2511
You'd likely want to write a utility that flattens JSON schemas automatically into the format display in the example above^ I agree you wouldn't want to do this manually.

Does that seem feasible?

[2021-05-10 15:27] jjoyce0510 commented on #1906
Is anyone working on this one? Seems like deltas are _not_ a formally supported concept in the OSS DataHub.

[2021-05-10 15:29] jjoyce0510 commented on #1910
@liangjun-jiang What is your use case for registering indexes at runtime?

[2021-05-10 17:37] hsheth2 commented on #2492
@iremi - I'm hoping to build them today or tomorrow

[2021-05-11 06:24] iremi commented on #2492
Great. Please let me know when they're added.

[2021-05-11 06:31] iremi commented on #2511
Yes, that's what I'm going to do.

[2021-05-11 06:31] #2511 closed

[2021-05-11 20:40] jjoyce0510 commented on #1953
@shirshanka  Can we close this issue due to inactivity?

This question is based on the legacy ingestion scripts.

[2021-05-11 20:46] jjoyce0510 commented on #1963
@HondaHsu2020 Hopefully the responses above helped to answer your questions.

cc. @shirshanka to close the ticket

[2021-05-11 20:49] #1963 closed

[2021-05-11 21:04] jjoyce0510 commented on #2014
@th0ger: Please let us know if this is still happening to you on the latest.

I'd recommend a pull, ./docker/nuke.sh, and a ./docker/quickstart.sh to test.

If not, please do let us know and we can schedule some time to hop on a call to get this worked out!

[2021-05-11 23:32] shirshanka commented on #2025
Closing due to inactivity. Please reopen if this is still an issue.

[2021-05-11 23:32] #2025 closed

[2021-05-12 00:24] hsheth2 commented on #2492
@iremi #2532 is the first step - a transformer for adding ownership information. I'll probably also build a tag transformer soon. Additionally, the implementation should also serve as a good reference for any custom transformers you need to write for more bespoke sorts of transformations.

[2021-05-12 03:20] youngwookim opened #2537 "Make sortable heading in 'Properties' by name"
**Is your feature request related to a problem? Please describe.**
As of now, There is no sortable option in 'Datasets' > .... > 'Properties' by property's name.
It would be nice to have a sortable heading to 'Name'

**Describe the solution you'd like**
Add a sortable heading to 'Name'. i.e., ascending or descending toggle on 'Name'

[2021-05-13 12:58] Light310 opened #2551 "Is there a visualization for Field Mapping?"
Good day!
Looks like field mapping feature is already merged in, I've managed to send some MCEs containing DatasetFieldMappingClass, but I can't see anything in the UI.
Is there any visualization of field-level lineage?

[2021-05-13 19:24] oneanime opened #2552 "How I can deployed datahub manually，not use docker"
How I can deployed datahub manually，not use docker

when I use gradle wrapper to build the project，I can not find package like **.tar.gz

[2021-05-13 19:43] liangjun-jiang commented on #2552
I actually wrote a medium blog about how to build and run Datahub's core components: GMS, MCE and MAE without relying on Docker. You can check it out here: https://liangjunjiang.medium.com/application-performance-monitor-and-distributed-tracing-with-apache-skywalking-in-datahub-16bc65e6c670
Of course, it's still much easier for you to use Docker for MySQL, Elastic Search, Neo4j and Kafka and other

[2021-05-13 20:30] oneanime opened #2554 "How I can deployed datahub manually，not use dockerf the question"
How I can deployed datahub manually，not use docker

[2021-05-13 20:30] #2554 closed

[2021-05-14 01:12] shirshanka commented on #2490
Fixed via #2556

[2021-05-14 01:12] #2490 closed

[2021-05-14 02:09] dougallaninthecloud commented on #2490
Nice to see both the fix and tests updated thanks :)

[2021-05-14 16:50] liangjun-jiang commented on #1910
I tried to remove unnecessary docker building process. I think the purpose of [`/elasticsearch-setup` ](https://github.com/linkedin/datahub/tree/master/docker/elasticsearch-setup) is solely for creating indexes after ES service is up.
In the real life, we will need to update the `mappings` quite often. To do that, you need to either work with ES directly or use ES API to do so.

[2021-05-17 06:15] saxo-lalrishav opened #2564 "For dataset having proto schema , the raw format schema is not visible"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any dataset(which have protobuff schema)  and schema tab
2. Click on Raw button on left
3. Page redirect to to a black page
4. See error in console

**Screenshots**
![image](https://user-images.githubusercontent.com/80503855/118440440-4b3de880-b705-11eb-9966-ef

[2021-05-17 07:01] youngwookim opened #2565 "Unable to parse an avro schema for Kafka"
**Describe the bug**

Got a traceback from my ingestion job that is gathering meta data from kafka and schema registry:
[code]

**To Reproduce**

This is my avro schema on schema registry:
[code]
Actually, the schema was generated by Apache Flink. See https://ci.apache.org/projects/flink/flink-docs-release-1.13/docs/connectors/table/formats/avro-confluent/

**Additional context**

I'm using the la

[2021-05-17 07:52] youngwookim commented on #2565
It looks like this line of the schema is a cause of failure:
[code]

`record` is the existing type name of avro's complex type. https://github.com/apache/avro/blob/master/lang/py3/avro/schema.py#L399

[2021-05-17 13:09] saxo-lalrishav opened #2567 "Removing a user having multiple role from owner tab also remove the other roles associated to that user"
**Describe the bug**
Removing a user having multiple role from owner tab also remove the other roles associated to that user

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo.datahubproject.io/dataset/urn:li:dataset:(urn:li:dataPlatform:s3,datahub-demo-backup.demo.aspects,PROD)/ownership
2. Add single user with multiple role
3. Remove that user for a single role
4. All the r

[2021-05-17 13:14] saxo-lalrishav opened #2568 "While adding user if UI waits for api response there should be a loader visible."
**Describe the bug**
While adding user if UI waits for api response there should be a loader visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://demo.datahubproject.io/dataset/urn:li:dataset:(urn:li:dataPlatform:s3,datahub-demo-backup.demo.aspects,PROD)/ownership
2. Add a new user
3. While UI is waiting for api response,  full name column is empty

**Expected behavior**
Th